.fornav {
	padding-right:0px;
}
.panel-group {
	/* height: 100%; */
}
.panel.active {
	background-color: #323E52;
}
.childmenu {
	padding-left:0px;
}
.childmenu li {
	list-style: none;
}
.childmenu li a {
	/*color: #AB1919 !important;*/
}





.grouptitle {
	line-height: 30px;
	/* height: 40px; */
	font-size: 18px;
	padding-left: 15px !important;
	width: 100%;
	display: block;
	padding: 5px;
	color: #fff !important;
}
.panel-group li a {
	padding-right: 30px;
	display: block;
	padding-left: 24px;
	position: relative;
	padding-top: 10px;
	padding-bottom: 10px;
}
/* .childmenu a:before {
	width:20px;
	height:20px;
	display:block;
	position:absolute;
	background-size: cover;
	content: " "; 
	left: 0px;
} */
.childmenu li.active, .childmenu li:hover {
	
}
.panel-group li.active a, .childmenu li:hover {
	opacity: 1;
}
.panel-group .panel + .panel {
	margin-top: 0;
}
/* #menuItem1 ul li.item1 a:before, #sidemenuItem1 ul li.item1 a:before {
	background:url(/img/icons8-File2.svg) no-repeat;
}
#menuItem1 ul li.item2 a:before , #sidemenuItem1 ul li.item2 a:before{
	background:url(/img/icons8-File2.svg) no-repeat;
}
#menuItem1 ul li.item3 a:before, #sidemenuItem1 ul li.item3 a:before {
	background:url(/img/icons8-File2.svg) no-repeat;
}
#menuItem1 li.item4 a:before, #sidemenuItem1 ul li.item4 a:before {
	background:url(/img/icons8-File2.svg) no-repeat;
}
#menuItem1 ul li.item5 a:before, #sidemenuItem1 ul li.item5 a:before {
	background:url(/img/icons8-File2.svg) no-repeat;
}
#menuItem1 ul li.item6 a:before, #sidemenuItem1 ul li.item6 a:before {
	background:url(/img/icons8-File2.svg) no-repeat;
}
#menuItem1 ul li.item7 a:before, #sidemenuItem1 ul li.item7 a:before {
	background:url(/img/icons8-File2.svg) no-repeat;
}
#menuItem3 ul li.item1 a:before, #sidemenuItem3 ul li.item1 a:before {
	background:url(/img/icons8-File2.svg) no-repeat;
}
#menuItem3 ul li.item2 a:before, #sidemenuItem3 ul li.item2 a:before {
	background:url(/img/icons8-File2.svg) no-repeat;
} */
/*.childmenu a:after {
	height: 20px;
	display: block;
	position: absolute;
	background: #e2e2e2;
	right: 10px;
	color: #5b5d5d;
	top: 10px;
}
.childmenu li.figure a:after {
	padding-left: 2px;
	padding-right: 2px;
	content: attr(data-before);
}

.childmenu li.figure a {
	text-decoration-style: underline;
}*/

.childmenu li.active a:after, .childmenu li:hover a:after {
	background:#5b5d5d;
	color:#e2e2e2;
}
.sidetop
{
	height: 55px;
 }
.sidetop a
{
	opacity: 0.5;
}
.sidetop table
{
	height: 55px;
	width:100%;
}
.sidetop .username
{
	width:130px;
	overflow: hidden;
}
.sidetop table td
{
	padding: 5px;
}
.sidetop table a
{
	color: #fff !important;
}


.menu-icon {
	width:20px;
	height:20px;
	display:block;
	position:absolute;
	background-size: cover;
	/* content: " "; */
	left: 0px;
}


@media (max-width:767px) {
	.grouptitle {
		padding: 10px;
	}

 }
