#wrapper {
	padding-left: 0;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	height: 100%;
}
#wrapper.toggled {
	padding-left: 250px;
}
#sidebar-wrapper {
	z-index: 1000;
	position: fixed;
	left: 250px;
	width: 0;
	height: 100%;
	margin-left: -250px;
	overflow-y: auto;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	background-color:#5b5d5d;
}
#wrapper.toggled #sidebar-wrapper {
	width: 250px;
}
#page-content-wrapper {
	width: 100%;
	height: 100%;
	position: absolute;
}
#wrapper.toggled #page-content-wrapper {
	position: absolute;
	margin-right: -250px;
}
 @media(min-width:991px) {
 #doc #wrapper.toggled {
 padding-left: 250px !important;
}
#sidebar-wrapper {
 display: none;
}
#wrapper.toggled {
 padding-left:0px !important;
}
}
@media(min-width:768px) {
#wrapper {
 padding-left: 0;
}
#wrapper.toggled {
 padding-left: 250px;
}
#sidebar-wrapper {
 width: 0;
}
#wrapper.toggled #sidebar-wrapper {
 width: 250px;
}
#page-content-wrapper {
 //position: relative;
}
#wrapper.toggled #page-content-wrapper {
 position: relative;
 margin-right: 0;
}
}
 