.main {
    position: relative;
}

.nav {
	/*position: fixed;*/
	background-color: #F0F0F0;
}
.head-nav{
    position: fixed;
}

.header {
	background-color: #101928;
    /*flex-flow: row nowrap;*/
}

.menu-nav {
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 999;
	left: 0;
	right: 0;
	background-color: #101928;
	color: #fff;
}


.toggle {
	float: left;
}

.burger {
	font-size: 16pt;
	margin: 5px;
}
.logo-header {
	margin: 10px;
	float: left;
	padding-left: 40px;
}

.logo {
	/* margin-left: 60px; */
	/*width:200px;*/
}

.top-search {
	margin: 10px;
	float: left;
}


.navbar-form {
	margin: 10px;
}
.navbar-form .form-control {
	width: 400px;
}

.menu-nav .navbar-rigth li{
	display: inline-block;
	float: right;
}

.navbar-right {
	float: right !important;
}



table {
    border-spacing: 0;
    border-collapse: collapse;
}

.search {
	/* margin-left: 10px; */
}

.search table {
	padding-top: 5px;
	padding-left: 0px;
	width: 100%;
	height: 55px;
	border: 0px;
}

.search input.field {
	/* width:  375px; */
	height: 35px;
	float: left;
    padding-left: 10px;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

input {
    background-color: white;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    cursor: auto;
    padding: 1px;
    border: 2px inset;
}

input, textarea, keygen, select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em 0em 0em 0em;
    font: 13.3333px 'Open Sans' , sans-serif;
}

input, textarea, keygen, select, button, meter, progress {
    -webkit-writing-mode: horizontal-tb;
}

table {
    display: table;
    border-collapse: separate;
    border-spacing: 0px;
    border-color: grey;
}

.drop-user-menu {
    font-size: 8pt;
    right: 88px;
    /*flood-color: #fff;*/
    width: 230px;
    background-color: #3F4D67;
}

.user-name {
    float: left;
}

.down-btn{
    position: relative;
    margin-left: 10px;
}

.search td.form {
    width: 66%;
    padding-right: 6px;
}

.personal {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.personal .el {
    width: 40px;
    margin: 0px 10px;
}


.mail-pic {
    font-size: 20px;
    /* height: 58px;
    padding: 20px 0px; */
}

.mail {
    display: flex;
}

.mobsearch {
    display: flex;
}
.mobsearch.el {
    width: auto;
}

.mail.el {
    width: auto;
}

.user-menu {
    display: flex;
}

.user-menu.el {
    width: auto;
}

.drop-user-menu li a {
    padding: 3px 5px;
    line-height: 25px;
    color:#fff;
}

.drop-user-menu li a:hover {
    background-color: #677CA2;
    color:#fff;
}

/*burger-menu*/

.hidden-menu {
	display: block;
	bottom: 0;
	position: fixed;
	list-style:none;
	margin-right: 20px;
	margin: 0;
	box-sizing: border-box;
	width: 285px;
	background-color: #3F4D67;
	height: calc(100% - 58px);
	left: -285px;
	transition: all 600ms 0ms;
	z-index: 1000;
/*    overflow: overlay;*/
	-webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -webkit-transition: .4s;
}


.profile-table {
    position: fixed;
    width: 285px;
}

.drop-list {
    height: calc(100% - 118px);
    position: fixed;
    overflow: overlay;
    width: 285px;
    bottom: 0px;
}

.hidden-menu-ticker {
  	display: none;
}

.btn-menu {
	color: #fff;
	padding: 10px;
	margin: 10px 0 0 0!important;
	/* position: fixed; */
	left: 5px;
	cursor: pointer;
	/*transition: left .23s;*/
	z-index: 3;
	width: 44px;
	-webkit-transform: translateZ(0);
	-webkit-backface-visibility: hidden;
}

.btn-sub-menu {
	position: relative;
}

#btn-drop-meni {
    display: none;
}

.btn-menu span {
	display: block;
	height: 4px;
	background-color: #fff	;
	margin: 3px 0 0;
	/*transition: all 300ms linear 100ms;*/
	position: relative;
    border-radius: 1px;
}

.btn-menu span.first {
	margin-top: 0;
}


.logo {
    width:0px;
    display:flex;
    -webkit-transition: .4s;
    overflow: hidden;
    width: 0;
}

.logo.in {
     width:300px; 
    -webkit-transition: .4s;
}

/* .hidden-menu-ticker:checked ~ .logo {
    width: 0;
    transition: all 600ms 0ms;
} */

.hidden-menu-ticker:checked ~ .hidden-menu {
	left: 0;
    transition: all 600ms 0ms;
}
/*.hidden-menu-ticker:checked ~ .forcontent {
    left:285px;
    width: 70%;
}*/

.hidden-menu-ticker:checked ~ .btn-menu span.first {
  	top: 0px;
}

.hidden-menu-ticker:checked ~ .btn-menu span.second {
  	
}

.hidden-menu-ticker:checked ~ .btn-menu span.third {
  	top: 0px;
}


.user-block {
	width: 100%;
    height: 118px;
	background-color: #39455D;
	padding: 10px;
}
/*

	style for drop menu
*/

.user-block img {
    width: 66px;
    height: 66px;
    border: 4px solid #fff;
}

.user-info span {
    color: #fff;
    font-size: 13px;
    line-height: 30px;
}

.user-info h2 {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    margin: 10px;
    text-transform: capitalize;
}

.menu-user-name {
    float: none;
}

.mini-menu{
    margin: 0px auto;
    /*max-width: 250px;*/
    /*-webkit-border-radius: 3px;*/
    /*-moz-border-radius: 3px;*/
    /*border-radius: 3px;*/
    /*border: 1px solid rgba(0, 0, 0, 0.7);*/
    /*-webkit-box-shadow:0 0 8px rgba(0, 0, 0, 0.4);*/
    /*-moz-box-shadow:0 0 8px rgba(0, 0, 0, 0.4);*/
    /*box-shadow:0 0 8px rgba(0, 0, 0, 0.4);*/
    font:14px 'Open-sans', sans-serif;
    padding-bottom: 72px;
}
.mini-menu ul {
    list-style: none;
    margin: 0;
    padding:0;
    text-align:left;
}
.mini-menu > ul > li {
    position: relative;
    width: 285px;
}
.mini-menu > ul > li > a {
    background-color: #3F4D67
    display: block;	
    outline: 0;	
    padding: .7em 2em;	
    text-decoration: none;	
    color:#fff;		
    /*font-family: 'Open-sans' ,sans-serif; 
    font-size: 12pt;*/
    /*border-bottom: 1px solid #222;*/
    /*background-image:-webkit-linear-gradient(#444, #333);
    background-image:-moz-linear-gradient(#444, #333);
    background-image:-ms-linear-gradient(#444, #333);
    background-image:linear-gradient(#444, #333);
    -webkit-box-shadow:inset 0 1px 0 0 rgba(250,250,250,0.1);*/
    /*-moz-box-shadow:inset 0 1px 0 0 rgba(250,250,250,0.1);*/
    /*box-shadow:inset 0 1px 0 0 rgba(250,250,250,0.1);*/
}
/*.mini-menu ul li a {
    font-family: 'Open-sans' , sans-serif;
    font-size: 10pt;
}*/

.setting-icon {
    background-color: #343F50;
}

.mini-menu > ul > li > a:hover {
    background-color:#323e52;
}

.mini-menu > ul > li > a.active {
    background-color:#323e52;
}
/*.mini-menu > ul > li > a:hover{
    background-color:#323e52;
} */

.mini-menu .sub {
	/*background-color: #3F4D67;*/
}

.mini-menu .sub > ul {
    height: 0px;
    overflow: hidden;
}
.mini-menu .sub > ul > li > a {
    color:#dedfe9;
    background-color: #3F4D67;
    display: block;
    text-decoration: none;
    padding: 10px 0px;
    padding-left: 55px;
    font-family: 'Open-sans' , sans-serif;
    font-weight: 500;
}

.mini-menu ul > li > a {
    font-family: 'Open-sans' ,sans-serif; 
    font-size: 10pt;
    font-weight: 600;
}

.mini-menu li.sub a span {
   position: absolute;
   right: 20px;
   top: 15px ;
}

.mini-menu li.sub span.icons {
    position: relative;
    left: -10px;
}

.mini-menu li span.icons {
    position: relative;
    left: -10px;
}

.mini-menu .sub > ul > li > a:hover {
	background-color: #677CA2;
}

.mini-menu .sub ul > li::before {
    background: #fff none repeat scroll 0 0;
    border-radius: 50%;
    bottom: auto;
    content: "";
    height: 5px;
    left: 21px;
    margin-top: 15px;
    position: absolute;
    right: auto;
    width: 5px;
}

.mini-menu .sub ul li { position: relative; }

.mini-menu  .sub  ul > li::after {
    border-left: 1px solid #fff;
    bottom: 0;
    content: "";
    left: 23px;
    position: absolute;
    top: 0;
    height: 100%;
}

::-webkit-scrollbar {
  width: 10px;
  z-index: 10;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.mini-menu-count {
    position: absolute;
    background-color: #343F50;
    right: 15px;
    top: 10px;
}
.open-sidebar {
    /*transition-delay: 150ms;*/
    left: 0px;
    width: 285px;
    -webkit-transition: .4s;
}
@media (min-width: 1200px) {
    .move-content {
        width: calc(100% - 285px);
        transition: all 600ms 0ms;
        /*left: 285px;*/
    },
    .resize-tab ul li {
        width: calc(calc(100% - 285px) / 6);
        transition: all 600ms 0ms;
    }   
    .resize-tab {
        width: calc(100% - 285px);
        transition: all 600ms 0ms;
    }  
}

body {
    overflow: hidden;
}
.user-field {
    display: flex;
}

.forcontent {
    transition: all 600ms 0ms;
    padding: 0;
    position: relative;
/*    overflow-y: overlay;
    height: 100%;*/
}


#page-content-wrapper {
    background-color: #fff;
}


.dropdown-usermenu {
    display: none;
}

.tglShow{
    display: block;
}
.forcontent > .doclist {
    position: fixed;
    top: 228px;
    overflow: overlay;
    height: calc(100% - 228px);
    WIDTH: inherit;
}


.ext {
    position: relative;
    top: 3px;
}

.section {
  /*  height: 90%;
    overflow: overlay;
    position: fixed;*/
}

/*.mini-menu .sub li a:before,
.mini-menu .sub li a:active {
    background: #888D92 none repeat scroll 0 0;
    border-radius: 50%;
    bottom: auto;
    content: "_";
    height: 5px;
    left: 18px;
    margin-top: 15px;
    position: absolute;
    right: auto;
    width: 5px;
    z-index: 1;
}*/

/*.mini-menu .sub > ul:after {
    font-size: 1em;
    display:inline-block;
    position: absolute;
    right: 10px;
    top: 6px;
    background: #555;
    line-height: 1em;
    padding: .5em .7em;
    color: #c9c9c9;
    text-indent: 0;
    text-align: center;
    text-shadow:0px 1px 0px rgba(0, 0, 0, .5);
    font-size: 0.8em;
    font-weight: 500;
    -webkit-border-radius:25%;
    -moz-border-radius:25%;
    border-radius:25%;
    -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, .26), 0px 1px 0px 0px rgba(255, 255, 255, .15);
    -moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, .26), 0px 1px 0px 0px rgba(255, 255, 255, .15);
    box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, .26), 0px 1px 0px 0px rgba(255, 255, 255, .15);
}*/

.navbar-default {
    height: 80px;
    background-color: #eee !important;
}

.panel-rib {
    position: relative;
}

.del-margin-bread {
    margin: 0;
}

.some {
    /*margin-top: 50px;*/
}
table > tbody > tr > td > div > table.dataTable {
    margin-top: 0 !important; 
}

table.table tr td {
    border-right: 1px solid #eee;
}
table.table tr td:last-child{
    border: none;
}

.tab-content  table {
    margin-top: 0px !important;
}

.sub ul li a.active {
    background-color: #677CA2 !important;
}

.mail-stack {
    background-color: #3F4D67
}

.mail-stack li {
    position: relative;
    margin: 5px;
    padding: 5px;
    border-bottom: 1px solid #616A8E;
}

.mail-stack img , .user-profile img {
    border: 2px solid    #fff;
    /*#3D64AF*/
}

.mail-stack li:hover {
    background-color: #677CA2;
    background-size: 100%;
}

.fixdoc {
    position: relative;
    margin: 130px 0px;
}

.tabs-button {
    min-height: 40px;
    width: 100%;
    float: none;
    font-size: 16px;
    top: 58px;
    background-color: #bbb;
    position: fixed;
    z-index: 3;
}

.tabs-button ul {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;   
}

.tabribbtn {
    padding: 0;
    transition: all 600ms 0ms;
}

.function-group {
    padding: 0;
    width: 100%;
    background-color: #eee;
    transition: all 600ms 0ms;
}

.function-group ul {
    padding: 0px;
}

.nav-tabs {
    border: none;
    background-color: #fff;
}

/*.resize-tab {
    width: calc(100% - 285px);
    transition: all 600ms 0ms;
}*/

.resize-tab ul li {
    width: calc(calc(100% - 285px) / 10);
    transition: all 600ms 0ms;
}                                                                                                                                                               
                                                                                                                  
.tabribbtn button.ribbtn {
    text-align: center;
    list-style-type: none;
    padding: 5px;
    width: calc( (100% / 14) - 10px);
    height: 70px;
    outline: 1px solid #eee;
    transition: all 600ms 0ms;
    margin: 5px;
}

.tabribbtn button.ribbtn-default {
    text-align: center;
    list-style-type: none;
    padding: 5px;
    width: calc( (100% / 12) - 10px);
    outline: 1px solid #eee;
    transition: all 600ms 0ms;
    margin: 5px;
}

.tabribbtn ul li {
    text-align: center;
    list-style-type: none;
    padding: 10px;
    width: calc(100% / 14);
    height: 70px;
    background-color: #fff;
    border-radius: 3px;
    outline: 0px solid #ddd;
    transition: all 600ms 0ms;
    margin: 5px;
}

.btn {
    border-radius: 5px;
}

.btn-app {
    position: relative;
    min-width: 80px;
    height: 80px;
    padding: 0;
    box-shadow: none;
    border-radius: 0;
    border-width: 0px;
    text-align: center;
    /*color: #666;*/
    /*border: 1px solid #ddd;*/
    background-color: #eee;
    font-size: 12px;
}

.btn-app-min {
    height: 40px;
    min-width: 30px;
    padding: 0;
    margin: 0;
}

.btn-app:hover {
/*    border:1px solid #aaa;*/
background-color: #eee;
    transition: all 0ms 0ms;
}

.tabribbtn ul li:hover {
    box-shadow: inset 0 0 5px;
    transition: all 0ms 0ms;
}

.del-margin-tabs {
    margin: 0px;
    padding: 0px;
}
button > span ,button > .fa{
    font-size: 16pt;
}

@media (max-width: 950px) {
    .btn-app {
        min-width: auto;
        padding: auto;
        height: auto;
    }
    .btn-app p {
        font-size: 7pt;
        margin-bottom: 0px;
    }
}

@media (max-width: 560px) {
    .btn-app {
        min-width: auto;
        padding: 3px;
        height: auto;
        margin: auto;
    }
    .btn-app p {
        font-size: 7pt;
        margin-bottom: 0px;
    }
    .btn-app span.fa {
        font-size: 10pt;
    }
    .btn-app img {
        background-size: auto;
    }
}

.form-search {
    display: flex;
    padding-top:10px;
    margin: 0px 5px;
    flex-wrap: wrap;
    align-content: space-between;
    width: 80%;
}


.row-search {
    display: flex;
    align-items: center;
    align-self: center;
}


.her {
    /*padding-bottom: 210px;*/
    position: fixed;
    overflow: overlay;
    top: 180px;
    height: calc(100% - 180px);
}


#tabs {
    background: none!important;
}
.table th{
    white-space: nowrap;
}
.table thead {
    background:#eee;
}
.dataTable thead {
    background:#eee;
}
.tab-content .dataTable thead {
    background:rgba(238, 238, 238, .3)!important;
}
.dataTable {
    background: rgba(255,255,255,.7);
    border:1px solid #ccc;
    border-left: none;
    border-right: none;
}
.table1 thead {
    background:#eee;
}
.table1 {
    background: rgba(255,255,255,.7);
    border:1px solid #ccc;
}
.section {
    border: 1px solid #eee;
    margin: 5px;
    padding: 0 0 0 0;
    background: rgba(255,255,255, 1);
}
.section > div {
    margin-bottom:10px;
}
.section .tab-pane > div {
    margin-bottom:10px;
}
.secttitle {
    font-size: 16px;
    color: #00a7e1;
    border-bottom: 1px solid;
    margin: 0 0 5px 0!important;
    padding: 10px 0 10px 15px;
}
.table.attachments, .table.signature, .dataTable#history {
    background: rgba(255,255,255,.7);
    border:1px solid #ccc;
    margin: 0!important;
}

.action-cell img {
    width: 18px;
}
.delete-phone-row img {
    height: 24px;
    width: 24px;
}

.delete-email-row img{
    height: 24px;
    width: 24px;
}
.home-link{
    display: block; 
    height: 36px; 
    width: 300px;
}
.mr-top-checkbox{
    margin-top: 9px!important;
}