@charset "utf-8";
/* CSS Document */

#object {
	height: 100%;
	width: inherit;
}



html {
	position: relative;
	min-height: 100%;
}
html, body {
	height: 100%;
	min-width:320px;
}
body {
	line-height: 1.471;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif; /*'Open Sans',*/
	text-rendering: optimizeLegibility;
	background-color:#f0f0f0;
	/*margin-bottom:55px;*/
	font-size:14px;
 /*margin-top:55px;*/
	overflow-x: hidden !important;
}
.clearfix{
    clear: both;
}
.chosen-single {
    width: inherit;
}
.hide-elem{
	display: none;
}
/*main page grid*/
.main_widgets {
	display: flex;
	flex-wrap: wrap;
	padding: 0 10px;
  }
  .main_widgets .ribbonBtn{
	text-align: left!important;
	width: calc(25% - 10px)!important;
  }
  .main_widgets .widget {
	margin: 5px;
	width: calc(25% - 10px);
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	color: white;
	text-decoration: none;
	align-content: flex-start;
  }
  .main_widgets .widget .number {
	font-size: 35px;
	line-height: 35px;
	order: 2;
	width: 100%;
	display: flex;
	align-items: flex-end;
  }
  .main_widgets .widget .title {
	font-weight: bold;
	padding-top: 0;
	order: 1;
	font-size: 18px;
	text-align: right;
	width: 100%;
	margin-top: 0;
  }
  .main_widgets .widget .discription {
	font-size: 11px;
	width: 100%;
	order: 3;
  }
  .main_widgets .widget .discription a {
	color: white;
  }
  @media (max-width: 1100px) {
	.left-nav:not(.left-nav-close) + .forcontent .main_widgets .widget {
	  width: calc(50% - 14px);
	}
  }
  @media (max-width: 900px) {
	.main_widgets .widget { 
	  width: calc(50% - 14px);
	}
  }
  @media (max-width: 450px) {
	.main_widgets .widget { 
	  width: calc(100% - 14px);
	}
  }
.main_widgets a.purple {
	background: #573c7d;	
}
.main_widgets a.green {
	background: #7db058;
}
.main_widgets a.orange {
	background: #ca8f22;
}
.main_widgets a.pink {
	background: #ba426a;	
}
.main_widgets a.blue {
	background: #42649a;
}
.main_widgets a.blue-light {
	background: #517fcc;
}
.main_widgets a.sea {
	background: #388ba9;
}
.main_widgets a.sea-light {
	background: #539cab;
}
/*charts*/
.charts {
	display: flex;
	flex-wrap: wrap;
	padding: 0 10px;
  }
  .chart-title {
	min-height: 40px;
  } 
  .charts .chart_item {
	width: calc(50% - 10px);
	background-color: rgba(255, 255, 255, 0.502);
	box-shadow: 0px 0px 2px 0px #cacaca;
	margin: 5px;
  }
  .charts4 .chart_item {
	width: calc(25% - 10px);
  }
  .chart_wrapper {
	display: flex;
	justify-content: center;
  }
  .chart-vidj {
	/* max-width: 100%; */
  }
  .chart-title {
	margin-top: 10px;
	font-weight: bold;
  }
  .charts4 #barchart1, .charts4 #barchart2 {
	width: auto;
  }
  	svg > g:last-child > g:last-child { pointer-events: none }
	div.google-visualization-tooltip { pointer-events: none }
/* selection */
::-webkit-input-placeholder {
color:#5b5d5d;
}
::-moz-placeholder {
color:#5b5d5d;
}
::-moz-placeholder {
color:#5b5d5d;
}
::-ms-input-placeholder {
color:#5b5d5d;
}
::selection {
	background: #00a7e1;
	color: #fff;
}
::-moz-selection {
 background: #00a7e1;
 color: #fff;
}
/* viewportsize */
 div#viewportsize {
	font-size: 10px;
	opacity: 0.5;
}
/* centered columns styles */
.row-centered {
	text-align:center;
}
.col-centered {
	display:inline-block;
	float:none !important;
	text-align:left;
}
.vcenter {
	display: inline-block;
	vertical-align: middle !important;
	float: none !important;
}
.w50 {
	width:50%
}
.w100 {
	width:100%;
}
/* forms */
input:focus, textarea:focus, .afbf_textarea:focus, .bx-auth-input:focus {
	border: solid 1px #00a7e1 !important;
}
input {
	border-radius: 0;
}
textarea {
	border-radius: 0;
	-webkit-appearance: none;
}
/* links */
a {
	color:#0173c7;
	text-decoration: none;
}
a:hover {
	text-decoration: none !important;
	opacity: 1 !important;
}
a:before:hover, a:after:hover {
 opacity: 1;
}
a[rel~="tel"] {
	cursor: default;
}
/*auth */
.login_body {
	background: url('/img/bg-login.jpg') #ebf0f3;
	background-position: center;
	background-repeat: no-repeat;
	margin-bottom:0px;
}
.login_body .buttons {
	background: none;
	height: auto;
	padding: 0px;
	text-align: center;
	width: 100%;
	display: table;
	margin-top: 30px;
}
.login_body .save {
	text-transform: uppercase;
	background-color: #8ac14a;
	margin: auto;
	float: none;
}
.login_body img {
	margin-top:30px;
}
.recover a {
	text-decoration: underline;
	display: block;
	margin-bottom: 10px;
	margin-top: 10px;
	text-align: center;
}
div.login {
	width: 460px;
	height: 520px;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.login .copy div {
	margin-top:5px;
	width:100%;
	text-align: center;
	font-weight: bold;
	color:#333;
}
.login .copy a, .login .copy {
	font-size:14px;
	color:#5b5b5c;
	margin-top: 20px;
}
.login .copy a {
	text-decoration: underline;
}
div.login form {
	margin-top:20px;
}
div.login .form {
	padding-left:60px;
	padding-right:60px;
	width: 460px;
	/* height: 520px; */
	background-color: #fff;
	padding-bottom: 30px;
}
/*auth */

/*topbar*/
.header {
	width:100%;
	background-color:#101928;
	height: 58px;
	color:#b9b9b9;
	position: fixed;
	top: 0px;
	z-index: 100;
}
.search {
	padding-left:0px;
}
.hidesearch {
	font-size:24px;
	color:#919191;
	cursor: pointer;
}
.search table {
	width:100%;
	height: 55px;
}
.searchresults {
	position: fixed;
	top: 55px;
	overflow-y: scroll;
	z-index: 100;
	background: #fff;
	width: 100%;
}
.searchresults a {
	cursor: pointer;
}
.searchitem {
	border-bottom: solid 2px #f6f6f6;
}
.searchresults a {
	color:#000;
	padding: 15px;
	display: block;
}
.searchresults a:hover {
	background-color:#e5f5fb;
}
.allresults a:hover {
	background: none !important;
}
.allresults a {
	color:#00aeef !important;
}
.search form {
	position: relative;
	width: 100%;
}
.search td.form {
	width: 66%;
	padding-right:6px;
}
.search td.ext {
	width:33%;
}
.search input.field {
	font-size:15px;
	border: none;
	width:100%;
	height: 38px;
	padding:0px;
}
.mobsearch {
	text-align: center;
}
.mobsearch img {
	cursor: pointer;
	float: none !important;
	margin: 0 auto;
	padding: 0px 0px;
}
.mobsearch img:hover {
	opacity: 1;
}
.logo {
	margin-top:10px;
	padding-right:0px;
}
.logo img {
	/* width:128px; */
	opacity: 0.9;
	float: left;
	margin-right: 10px;
}
.logo_text {
	float: left;
}
.header .logo .first {
    font-size: 14px;
    color: white;
    text-transform: uppercase;
	text-align: center;
}
.header .logo .second {
    font-size: 14px;
    color: white;
    text-transform: uppercase;
    line-height: 15px;
    text-align: center;
}
.logo img:hover {
	opacity: 1;
}
.srch {
	background: url(../img/ico/search.svg) #fff;
	position: absolute;
	right: 0px;
	width: 30px;
	height: 35px;
	background-size: 20px;
	background-repeat: no-repeat;
	border: none;
	top: 0px;
	padding: 0px;
	margin: 0px;
	background-position: center;
	opacity: 1;
}
.srch:hover {
	opacity: 1;
}
.extdendedsearch {
	color: #b9b9b9;
	cursor: pointer;
}
.extdendedsearch:hover {
	color:#fff;
}



.personal img {
	width:30px;
	height: 30px;
	float: left;
	margin-right: 10px;
}
.personal img:hover {
	cursor: pointer;
}
.sidetop .hidden-xs {
	display: block !important;
}
.personal a:hover img {
	opacity: 1;

}
.personal table {
	float: right;
	height: 55px;
}
.personal a {
	color:#fff;
	opacity: 1;
}
.personal span a {
	opacity: 0.5;
}
.personal span a:hover {
	cursor: pointer;
}
.personal {
	padding-top:12px;
}
.personal td {
	height: 58px;
}
.personal td:last-child {
	padding-right:0px !important;
}
.count {
	color: #fff;
	background-color: #333;
	/*padding-left: 4px;*/
	/*padding-right: 4px;*/
	display: block;
	float: right;
	margin-left: 6px;
	margin-top: 2px;
	/* border-radius: 30px; */
	margin-right: 0;
	margin-bottom: 0;
	position: relative;
	top: 10px;
	right: 15px;
	min-width: 20px;
    text-align-last: center;
}
/*.note {
	min-width: 75px;
}*/
.user img {
	width:20px;
}
/*topbar*/

/*footer*/
.footer {
	width:100%;
	background-color:#fff;
	height: 55px;
	color:#5b5b5c;
	padding-top: 18px;
	position: absolute;
	bottom: 0px;
	border-top: solid 1px #eee
}
.footer a {
	color:#5b5b5c;
	text-decoration:underline;
}
/*footer*/


/*content*/
.topnav ul {
	padding: 0;
	margin:0;
}
.topnav li {
	list-style: none;
	float: left;
	text-align: center;
	margin-top:4px;
	height: 82px;
}
.topnav li.sep, .topnav li.sep:hover {
	border-right: solid 1px #cfcfcf;
}
.topnav li img {
	padding-bottom:4px;
	padding-top:8px;
}
.topnav a {
	color:#5b5b5c;
	font-size:13px;
	text-decoration: none;
	display: block;
}
.topnav li:hover, .topnav li.active {
	background: #f0f0f0;
}
.topnav a:hover, topnav li:hover a {
	color:#00aeef;
}
h1 {
	font-size:26px;
	color:#404040;
	margin-top: 0px;
}
h2 {
	font-size:18px;
	color:#404040;
	margin-top: 0px;
	margin-bottom:15px;
}
.title {
	padding-top:15px;
}
.nav.fornav {
	background-color:#5b5d5d;
	height: 100%;
	color: #fff;
	padding-left:0px !important;
}
.topnav {
	height: 90px;
	width:100%;
	display: block;
	background-color:#e2e2e2;
	overflow: hidden;
}
html, body, .content {
	height:100%;
}
.container-fluid.content {
	display:table;
	width: 100%;
	box-sizing: border-box;
	padding-left:0px !important;
	padding-right:0px !important;
	padding-top:55px;
}
.content .row.main {
	height: 100%;
	display: table-row;
}

.row .no-float {
	display: table-cell;
	float: right;
	vertical-align:top;
}
.widget {
	margin-top:20px;
	margin-bottom:20px;
}
.stat .item {
	height: auto;
	margin-top:15px;
	margin-bottom:15px;
}
.stat .item div {
	color:#f0f0f0;
	display: table;
	width:100%;
	padding:10px;
	height: 210px;
}
.stat .item a {
	color:#f0f0f0;
	text-decoration: underline;
}
.stat .item1 div {
	background: #6650a7;
	background: -moz-linear-gradient(top, #6650a7 0%, #483188 100%);
	background: -webkit-linear-gradient(top, #6650a7 0%, #483188 100%);
	background: linear-gradient(to bottom, #6650a7 0%, #483188 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6650a7', endColorstr='#483188', GradientType=0 );
}
.stat .item2 div {
	background: #00bbfc;
	background: -moz-linear-gradient(top, #00bbfc 0%, #009ddd 100%);
	background: -webkit-linear-gradient(top, #00bbfc 0%, #009ddd 100%);
	background: linear-gradient(to bottom, #00bbfc 0%, #009ddd 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00bbfc', endColorstr='#009ddd', GradientType=0 );
}
.stat .item3 div {
	background: #87bf51;
	background: -moz-linear-gradient(top, #87bf51 0%, #68a032 100%);
	background: -webkit-linear-gradient(top, #87bf51 0%, #68a032 100%);
	background: linear-gradient(to bottom, #87bf51 0%, #68a032 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87bf51', endColorstr='#68a032', GradientType=0 );
}
.stat .item4 div {
	background: #ff6439;
	background: -moz-linear-gradient(top, #ff6439 0%, #e5451b 100%);
	background: -webkit-linear-gradient(top, #ff6439 0%, #e5451b 100%);
	background: linear-gradient(to bottom, #ff6439 0%, #e5451b 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6439', endColorstr='#e5451b', GradientType=0 );
}
.stat .item5 div {
	background: #eb2665;
	background: -moz-linear-gradient(top, #eb2665 0%, #cc0846 100%);
	background: -webkit-linear-gradient(top, #eb2665 0%, #cc0846 100%);
	background: linear-gradient(to bottom, #eb2665 0%, #cc0846 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb2665', endColorstr='#cc0846', GradientType=0 );
}
.stat .item6 div {
	background: #0181e0;
	background: -moz-linear-gradient(top, #0181e0 0%, #0063c1 100%);
	background: -webkit-linear-gradient(top, #0181e0 0%, #0063c1 100%);
	background: linear-gradient(to bottom, #0181e0 0%, #0063c1 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0181e0', endColorstr='#0063c1', GradientType=0 );
}
.stat .item7 div {
	background: #9ad853;
	background: -moz-linear-gradient(top, #9ad853 0%, #7cba35 100%);
	background: -webkit-linear-gradient(top, #9ad853 0%, #7cba35 100%);
	background: linear-gradient(to bottom, #9ad853 0%, #7cba35 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9ad853', endColorstr='#7cba35', GradientType=0 );
}
.itemicon {
	width:32px;
	text-align: left;
}
.item table {
	width:100%;
}
.itemtitle {
	font-size:20px;
	padding-left: 5px;
}
.itemtitle a, .itemcount a {
	color: #f0f0f0 !important;
	text-decoration: none !important;
	opacity: 0.9;
}
.itemtitle a:hover {
	opacity: 1;
}
.itemcount {
	font-size:36px;
	text-align: right;
	line-height: 20px;
}
.itemtext {
	padding-top:10px;
	margin:0;
}
.item ul {
	padding-top:10px;
	padding-left:0px !important;
	list-style: none !important;
}
.contentCard{
    position: fixed;
    top: 175px;
    width: inherit!important;
    overflow-y: auto;
    height: calc(100% - 175px);
    background: #eee;
}
.contentCard-noribbon{
	top: 98px;
	height: calc(100% - 98px);
}
.contentCardInner{
    margin: 5px;
    border-radius: 2px;
    padding: 10px 0;
    background: #fff;
    box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
    -webkit-column-break-inside: avoid;
    border: 1px solid #DBDBDB;
	background: #fff;
	position: relative;
}
/*doclist*/
.doclist th span:after {
	font-family: FontAwesome;
	text-decoration: inherit;
	font-size: 15px;
	color:#5b5d5d;
	left: 0;
	padding-left: 5px;
	position: relative;
	content: " " !important;
}
.doclist th.sorting_asc span:after {
	content: "\f176";
	top: 2px;
}
.doclist th.sorting_desc span:after {
	content: "\f175";
	top: 0px;
}
tr.group {
	cursor: pointer;
}
.group td {
	font-size:18px;
}
.firstcol {
	padding-left:30px !important;
}
.no-sort.val {
	text-align: center;
}
.no-sort {
	cursor: default !important;
}
.doclist th span {
	padding-top:15px;
	padding-bottom:15px;
	display: block;
}
.tabswitch, .jstreefilter {
    width: 100% !important;
	min-height:48px;
	padding-bottom:10px;
	border-bottom: 1px solid #ccc;
	z-index: 3;
}

.tabswitch a {
	color:#000;
	padding: 8px;
	display: block;
	float: left;
}
.tabswitch li.active, .tabswitch a:hover, .tabswitch li:hover a, .tabswitch li.active a, .tabswitch li:hover {
	background-color:#cbd9e4;
}
.tabswitch .count {
	padding-top: 4px;
	color: #000;
	background-color: #fff;
	font-weight:bold;
/*	padding-left: 4px;
	padding-right: 4px;*/
	display: block;
	float: right;
	margin: 0px;
	font-size: 9pt;
	top: 5px;
    left: 0px;
	position: relative;
	margin-right:8px;
	margin-left: 10px;
	width: 25px;
    height: 25px;
}
.tabswitch ul {
	margin: 0;
	padding: 0;
	padding-top:2px;
}
.tabswitch li {
	list-style: none;
	float: left;
/*	margin-right:5px;
	outline: 1px solid #ccc;
	background-color: #ddd;*/
}
.list .forcontent {
	background-color:#fff;
}
.doclist {
	font-size:15px;
/*
	position: absolute;
    top: 158px;
*/
}
.doclist .controls:hover div {
	display: block !important;
}
.doclist .controls img {
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
	filter: grayscale(100%);
	cursor: pointer;
	width:24px;
}
.doclist .controls a {
	padding-left:16px;
}
.pages {
	text-align: left;
}
.pags {
	display: table;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 5px;
}
.pagination {
	margin: 0;
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}
.dataTables_length {
	width: 25%;
	text-align: right;
	padding: 0;
	display: inline-block;
	padding-right:15px;
}
.dataTables_length select {
	height: 40px;
	border-radius: 0;
}
.dataTables_paginate {
	float: left;
	position: relative;
	width: 50%;
	text-align: center!important;
}
a.paginate_button {
	padding: 10px;
	cursor: pointer;
}
a.paginate_button.disabled {
	color:#ccc;
}
.dataTables_info {
	padding-left: 15px !important;
	margin-top: 10px !important;
	display: inline-block;
	width: 25%;
	float: left;
	padding-bottom: 20px;
}
a.paginate_button.current {
	color:#fff;
	background:#0173c7;
}
.doclist .controls img:hover {
	-webkit-filter: none;
	filter:none;
}
.doclist .controls img:first-child {
	padding-left:0px;
}
.doclist .controls {
	width:170px;
	height: 55px;
}
.doclist table > thead > tr > th {
	vertical-align: bottom;
	border-bottom: 2px solid #ccc;
}
.doclist td.visible-xs {
	border-bottom: none !important;
}
.doclist .table tbody tr {
	/* border-bottom: 1px solid #eee; */
	border:none;
}
.doclist .table td {
	vertical-align: middle;
	padding: 15px 15px;
}
.doclist table th {
	padding-left:15px;
}
.doclist th {
	font-weight: normal;
	color:#5b5d5d;
}
.table-hover > tbody > tr:hover {
	background-color:#e5f5fb;
}
.date, .type {
	color:#5b5d5d;
}
.doclist .controls {
	text-align: right;
}
.doclist th {
	cursor: pointer;
}
.totalcount {
	color: #5b5d5d;
	padding-left: 15px;
	margin-top: 20px;
	margin-bottom: 10px;
	display: table;
}
.totalcount ul {
	margin: 0;
	padding: 0;
}
.totalcount li {
	list-style:none;
	margin-right:10px;
	float: left;
}
/*docs*/
/* doc */
.fullwidth {
	background: #fff;
}
.fullwidth footer {
	display: none;
}
#doc-approve tr:hover, #doc-resolution tr:hover {
	cursor: pointer;
}
.buttons {
	width:100%;
	height: 80px;
	background-color:#f0f0f0;
	padding-left:15px;
	padding-top:15px;
}
.buttons a, .buttons button {
	display: block;
	color:#fff;
	font-size:16px;
	padding-left:10px;
	padding-right:10px;
	padding-top:15px;
	float: left;
	padding-bottom:15px;
	opacity: 0.9;
	margin-right:15px;
	cursor: pointer;
	border: none;
}
.buttons .save {
	text-transform: uppercase;
	background-color:#0173c7;
}
.buttons .andclose {
	background-color:#78aa48;
}
.buttons .draft {
	background-color:#ecb04b;
}
.buttons .cancel {
	background-color:#5b5d5d;
}
.buttons a:last-child {
	margin-right:0px;
}
.fullwidth .mobnav, .fullwidth #sidebar-wrapper, .fullwidth #sidebar-wrapper .visible-xs.visible-sm {
	display: block !important;
}
.breadcrumbs {
	min-height: 40px;
    background-color: #fff;
    width: 100%;
    float: none;
    font-size: 16px;
    top: 58px;
    position: fixed;
    z-index: 3;
}
.breadcrumbs .fa {
	font-size:23px;
	cursor: pointer;
}
.breadcrumbs a {
	cursor: pointer;
	color:#000;
}
.breadcrumbs ul {
	padding: 0;
	margin:0;
}
.breadcrumbs table i {
	padding-left: 6px !important;
}
.breadcrumbs li {
	list-style: none;
	float: left;
	padding: 8px 15px 0 15px;
	display: table;
	height: 40px;
	background-color: #ccc;
}
li.back, li.back:hover {
	background-color:#5b5d5d !important;
}
li.back a {
	color:#f0f0f0;
}
li.home a {
	color:#5b5d5d;
}
.breadcrumbs li.active, .breadcrumbs li:hover {
	background-color:#eee;
	/*border-right: 1px  #000;*/
	/*box-shadow: inset 0 0 5px;*/
}
.nav-tabs {
	display: block;
	padding-top: 12px;
	padding-left:15px;
	clear: left;
}
.nav-tabs li a {
	padding: 8px;
	display: block;
	float: left;
}
.nav-tabs .count {
	color: #fff;
	background-color: #343F50;
	padding:0px;
	display: block;
	float: left;
	margin: 0px 8px 0 0;
	top: 10px;
    left: 0px;
	position: relative;
	/* margin-right:8px;
	margin-left: 10px; */
}
.formsep {
	width:100%;
	height: 3px;
	background-color:#e2e2e2;
	margin-top:10px;
	/* margin-bottom:10px; */
}
.tab-pane {
	padding-top: 10px;
	/* padding-bottom:10px; */
}
.tab-content > .active {
    display: inline-block;
    /* border: 2px solid #eee; */
    margin: -2px 15px 0 15px;
	width: calc(100% - 30px);
	background:#e7e7e7;
}
.nav-tabs > li {
	float: left;
	background-color: #ccc;
	padding-right: 15px;
}
.nav-tabs > li > a {
	color:#000;
	font-size:16px;
	margin: 0px 0 0 15px;
}
.nav-tabs > li > a:hover {
}
.nav-tabs > li.active > a, .nav-tabs > li.active, .nav-tabs > li:hover, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	background-color: #e7e7e7;
}
.secttitle {
	font-size:16px;
	color:#00a7e1;
}


.error {
	border: solid 1px #f10000 !important;
}
.section-main {
	display: inline-block;
    padding-top: 20px;
    margin-top: 40px;
    height: 91%;
    overflow-y: overlay;
    position: fixed;
    transition: all 600ms 0ms;
}
#doc-approve .doclist {
	display: block;
	width:100%;
}
#doc-resolution .doclist {
	display: block;
	width:100%;
}
/*doc*/
/*modals*/
#rules th {
	text-align: center;
}
#rules th:first-child {
	text-align: left !important;
}
#rules .formsep {
	margin-top:0px;
}
.toggleusers {
	font-size:18px;
}
.toggleusers a {
	color:#000 !important;
	text-decoration: none;
}
#editrules .modal img {
	width:24px;
	height: 24px;
	margin: 0 auto;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}
img.allow {
	background:url('/img/icon-allow.svg');
}
img.deny {
	background:url('/img/icon-deny.svg');
}
.forinnertable {
	padding: 0px !important;
}
.forinnertable table {
	display: none;
	margin-bottom:0px;
}
.forinnertable table.show {
	display: table !important;
}
.modal .doclist .controls img {
	filter: none;
}
.modal .doclist tr {
	cursor: pointer;
}
.modal .doclist {
 //width:100% !important;
}
#resolution .modal-body, #approve .modal-body, #rules .modal-body {
	padding:0px;
}
.modal .buttons {
	background: none;
	text-align: center;
	position: relative !important;
	width: auto;
	margin: 0 auto;
	display: table;
	padding: 0;
	height: auto !important;
}
.modal .logo {
	width:128px;
	margin-top: 0px;
}
.close {
	top:22px;
	position: absolute;
	right: 15px;
}
.modal-content {
	box-shadow: none;
	border-radius: 0px;
	border: 0px;
}
.modal-backdrop.in {
	background-color:#ebf0f3;
	opacity: 0.9!important;
}
.searchmodal .modal-backdrop.in {
	opacity: 0;

}
.searchmodal .modal-dialog {
	width: 100%;
	margin: 0px !important;
}
.searchmodal .modal {
	padding: 0 !important;
}
.modal .title {
	font-size:20px;
	background: none;
	text-align: center;
	padding-top:0px;
}
#search .title {
	text-align: left;
	font-size:26px;
	line-height: 26px;
}
.modal-footer button {
	font-size:15px;
	padding-left:30px;
	padding-right:30px;
	padding-top:15px;
	padding-bottom:15px;
	border: none;
	opacity: 0.8;
}
.modal-footer button:hover {
	opacity: 1;
}
.modal-footer button.find {
	text-transform: uppercase;
	color: #fff;
	background-color:#00acdf;
}
.modal-footer button.cancel {
	color: #fff;
	background-color:#5b5d5d;
}
/*modals*/


/*forms*/
label .fa.fa-info-circle {
	font-size:18px;
	color:#5b5d5d;
	cursor: pointer;
	opacity: 0.5;
}
label .fa.fa-info-circle:hover {
	opacity: 1;
}
label.forradio {
	width: unset !important;
	margin-top: 10px;
	margin-bottom: 10px;
}
.add {
	position: absolute;
	right: 15px;
	top: 0px;
	color:#8ac14a;
}
.add a {
	color:#8ac14a !important;
	text-decoration: none !important;
	font-size:15px;
}
.add .fa {
	font-size:20px;
}
form a {
	/*text-decoration: underline;*/
}
label.required {
	font-weight: bold;
}
input.text-field {
	border: solid 1px #a6a6a6;
	font-size:14px;
	padding: 8px;
}
.text-field.figure {
	text-align: right;
	width:50px;
}
textarea {
	width:100%;
	border: solid 1px #a6a6a6;
	font-size:14px;
	padding: 8px;
}
label {
	width:100%;
	margin: 5px 0 0 0!important;
	
}
select, input[type="date"] {
	padding:8px;
	border: solid 1px #a6a6a6;
	height: 37px;
}
select.doctype {
	width:100%;
}
.selectval {
	text-align: right;
}
input[type="date"]:not([readonly]) {
	background:#fff url(../img/dtp.png)  calc(100% - 10px) 50% no-repeat ;
}
input[type="date"]::-webkit-clear-button, input[type="date"]::-ms-clear, input[type="date"]::-moz-clear {
    display: none!important;
}
input[type="date"]::-webkit-inner-spin-button {
	display: none!important;
}
input[type="date"]::-webkit-calendar-picker-indicator {
	opacity: 0!important;
}
.ig-catalog-loader{
	position: relative;
}
.ig-catalog-loader:after{
	content: "";
	position: absolute;
    right: 2px;
    top: 1px;
    height: 35px;
    width: 35px;
    background: url(../img/small_loader.gif) center center no-repeat;
    background-size: 65% 65%;
	z-index: 2;
	display: none;
}
.ig-catalog-loader.igcl:after{
	display: block;
}
#folderListOpenBtn{
	padding: 8px 10px;
	border: solid 1px #a6a6a6;
	background: #fff;
}
/*messages*/
table.tosort {
	width:100%;
}
table.tosort th {
	width:25%;
	text-align: center;
}
tr.opened td {
	background-color:#ebf0f3;
}
.opened .col-xs-12 {
	padding-top:15px;
	padding-bottom:15px;
}
.details-control {
	text-align: right;

}

#messages {
	background:#ebf0f3;
}
#messages .footer {
	display: block;
}
#messages .new {
	font-weight: bold;
}
#messages .who, #messages .new .date, #messages .new .label {
	font-weight: normal !important;
}
#messages .date {
	font-size:14px !important;
}
#messages .subj {
	cursor: pointer;
}
#messages .doclist {
	background: #fff;
}
#messages .doclist a {
	text-decoration: underline;
}
#messages .tabswitch select {
	float: left;
	margin-right: 10px;
}
#messages .tabswitch .count {
	background: #8ac14a;
}
#messages .tabswitch {
	border-bottom:solid 2px #e2e2e2;
	padding-bottom:5px;
}
#messages #detail {
	margin-top:20px;
}
.messageitem {
	background: #fff;
	padding-left:0px;
	padding-top:15px;
	padding-bottom:15px;
}
.messageitem {
	font-size: 15px;
	display: table;
	width: 100%;
	margin-bottom: 5px;
}
.messageitem span {
	font-size:14px;
}
p.doc {
	padding-left: 25px;
	position: relative;
}
.messageitem p.doc:before {
	width:20px;
	height:20px;
	display:block;
	position:absolute;
	background-size: cover;
	content: " ";
	left: 0px;
	background:url(/img/icons8-Filetemp.svg) no-repeat;
}
.messagereply {
	margin-bottom: 5px;
}

.messagereply p.doc.check:before {
	width:20px;
	height:20px;
	display:block;
	position:absolute;
	background-size: cover;
	content: " ";
	left: 0px;
	/*background:url(/img/icons8-Filetemp.svg) no-repeat;*/
}
p.linkeddoc {
	left: 25px;
	position: relative;
}
#messages #detail a {
	text-decoration: underline;
}
.linkeddoc:before {
	font-family: FontAwesome;
	content: "\f0c1";
	top: 2px;
	text-decoration: inherit;
	font-size: 16px;
	color:#5b5d5d;
	left: 0;
	padding-right: 5px;
	position: relative;
}
.messageitem .col-lg-4 {
	font-size:14px;
	line-height: 24px;
}
.messagereply {
	background:#fff3bc;
	margin-top:5px;
	padding-top:15px;
	padding-bottom:15px;
	display: table;
	width:100%;
}
/*messages*/
/*calendar*/

#calendar .forcontent {
	background-color: #fff;
}
#calendar #calend {
	padding: 15px;
}
.fc-event {
	position: relative;
	display: block;
	font-size: 13px;
	line-height: 20px;
	border-radius: 0px;
	border: none;
	font-weight: normal;
}
.fc-event, .fc-event-dot {
	background-color: #00a7e1;
}
/*calendar*/

/*user*/
.photo {
	border: solid 1px #a6a6a6;
	width:120px;
	height: 150px;
	margin:0 auto;
}
.photo.nophoto {
	background:url('/img/photo.png') #fff no-repeat center bottom;
	background-size: 100%;
}
.forphoto label {
	text-align: center;
}
.forphoto .add {
	position: relative !important;
	text-align: center;
	right:0px;
	margin-top:20px;
}
#user .buttons {
	position: relative;
}
/*user*/
/*forms*/
#loading .forcontent {
	background:url('/img/loading.png') #fff no-repeat center !important;
}
/*queries*/
 .visible-xxs {
	display: none !important;
}
i.fa.fa-navicon {
	font-size: 30px;
	color: #8e8e8e;
	width: 28px;
	display: block;
	float: left;
	margin-right: 15px;
	opacity: 0.5;
	cursor: pointer;
}
i.fa.fa-navicon:hover {
	opacity: 1;
}
 @media (min-width:991px) and (max-width:1170px) {
.itemtitle {
	font-size: 16px !important;
}
.itemcount {
	font-size: 26px;
}
}
 @media (min-width:991px) {
.opened {
	display: none !important;
}
.topnav li {
	min-width: 76px;
	max-width: 100px;
}
.personal.hide {
	display: block !important;
}
}
 @media (max-width:991px) {
div.slider {
	display: none;
}
#messages .doclist i {
	font-size:36px;
	color: #5b5d5d;
	cursor: pointer;
	opacity: 0.5;
}
#messages select.visible-xs {
	float: right;
	margin-right: 0px;
}
.for75 {
	width:75%;
}
.search table {
	margin-top: 8px;
}
.search table.show {
	display: block !important;
}
.search table.show td.ext {
	display: none;
}
.search td.form {
	width: 100%;
}
.breadcrumbs li.active span {
	cursor: pointer;
}
.fullwidth .topnav {
	display: none !important;
	width:100%;
}
.fullwidth .topnav.show {
	display: block !important;
	width:100%;
}
.fullwidth .showtopnav {
	float: right;
}
}
@media (min-width:767px) {
.fullwidth .buttons {
	position: fixed;
	bottom: 0px;
	z-index:10;
}
#doc .tab-pane, #doc-approve .tab-pane {
	padding-bottom: 90px;
}
}
 @media (max-width:767px) {
.searchresults {
	height: 100%;
}
.for75 {
	width: 100%;
}
.forcontrols {
	text-align: right;
}
.dataTables_paginate, .dataTables_info, .dataTables_length {
	width:100%;
	text-align: center;
	margin-bottom:20px;
}
.doclist .controls {
	float: right !important;
}
.recover {
	display: table;
	width: 100%;
}
.recover a {
	margin-bottom: 20px;
	margin-top: 20px;
}
.breadcrumbs li.active {
	padding-bottom:8px;
}
/*scrollable tabs */
 ul.nav {
	white-space: nowrap;
	overflow-x: auto;
}
ul.nav li {
	display: inline-block;
	float: none;
}
/*scrollable tabs */
.doclist img {
	width:34px !important;
	height: 34px !important;
	background-size: 34px;
}
select.w50 {
	width:100%
}
.buttons {
	text-align: center;
	padding-left:0px;
	display: table;
}
.buttons a {
	display: inline-table;
	float: none;
	margin-right:5px;
}
.breadcrumbs li.active {
	width:100%;
	top: 40px;
	width: 100%;
	z-index: 1;
	display: table;
	float: none;
}
.mobcontrols {
	width:100%;
	padding: 0px !important;
}
.doclist .controls a:first-child {
	padding: 0px !important;
}
.mobcontrols .date {
	float: right !important;
}
.docname {
	color:#000;
	font-size:15px;
}
.forcontrols div {
	padding-right:0px !important;
}
#list .doclist .controls {
	width: auto !important;
	padding-right: 0px;
	height: auto;
	top: -3px;
	position: relative;
}
#list .doclist .mobcontrols div {
	float: left;
	font-size:15px;
	padding-right:10px;
	color:#5b5d5d;
}
#list .doclist .mobcontrols .controls {
	padding-right:0px !important;
}
#list .doclist .controls img {
	-webkit-filter: none !important;
	filter: none !important;
}
#list .doclist .controls div {
	width:100% !important;
}
#list .doclist tbody tr {
	height: 100px;
	border-bottom: solid 1px #eee;
}
.mobcontrols table tr {
	border: none !important;
	height: 50px !important;
}
.mobcontrols table td {
	padding:0px !important;
}
.mobcontrols table {
	width:100%;
	margin-top:20px;
}
#list .doclist td {
	border: none !important;
}
.modal-footer {
	text-align: center;
}
.stat .item div {
	height: auto !important;
}
h1 {
	text-align: center;
}
.widget img {
	margin: 0 auto;
}
.footer .col-xs-6.text-left {
	padding-right:0px;
}
footer .col-xs-6.text-right {
	padding-left:0px;
}
a {
	text-decoration: none !important;
}
.logo img {
	width: 40px;
	margin-top: 3px;
}
.personal table {
	position: absolute;
	right: 15px;
}
.note {
	/*min-width: 30px;*/
	/*padding-left: 30px !important;*/
}
.modal-dialog {
	width: 100%;
	margin: 0px !important;
}
.modal {
	padding: 0 !important;
}
}
 @media (max-width:480px) {
#login .col-xs-6.text-right {
	margin-bottom:20px;
}
.mobcontrols .date {
	float: left !important;
}
#messages span.visible-xxs {
	margin-top:10px;
}
div.login {
	position: relative;
}
#login .copy {
	margin-bottom:20px;
	display: table;
}
div.login .form {
	height: auto !important;
	padding-left:15px;
	padding-right:15px;
}
.visible-xxs {
	display: inline-block !important;
}
.hidden-xxs {
	display: none !important;
}
.buttons a {
	padding-left:5px;
	padding-right:5px;
}
#user .buttons a.cancel {
 //margin-top:20px;
 //margin-bottom:20px;
}
.firstcol {
	padding-left:15px !important;
}
.login, .login .form {
	width:100% !important;
}
}
@media (max-width:280px) {
.logo img {
	display: none !important;
}
}


.delete-email-row, .delete-phone-row {
	margin-top: 6px;
    display: block;
}


.chosen-single  {
    background: none!important;
    border-radius: 0!important;
    font-size:14px!important;
    padding: 8px!important;
    height: 37px!important;
  	box-shadow: none!important;
  }

  .chosen-choices {
  	 background: none!important;
    border-radius: 0!important;
    font-size:14px!important;
    padding: 5px 8px 4px 8px!important;
	box-shadow: none!important;
	height: 37px!important;
  }
  .chosen-single div {
    top:8px!important;
  }
  .phone-row, .email-row {
	margin-bottom: 5px;
  }
.sorting, .sorting_asc, .sorting_desc {
	padding: 15px 0 15px 15px;
}

.pagination > li > a, .pagination > li > span {
	border: none!important;
}
.dataTables_length label {
	text-align: right!important;
}

.view .panel {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

/*.view .panel-heading:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}*/


 .view .panel-heading {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.view .panel-body {
	-webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.view .panel-row {
	margin: 10px 0;
}

.view .value {
	margin-bottom: 10px; 
}

.view .caption {
	font-weight: bold;
}
.view .table .active {
	background-color: #f5f5f5;

}

.view .table td {
	padding: 8px!important;
    line-height: 1.42857143!important;
    vertical-align: top!important;
    border-top: 1px solid #ddd!important;
} 

.doclist .show a {
    padding-left: 16px;
}
.doclist .show {
	height: 20px;
	text-align: right;
}

.actionBtnList {
	cursor: pointer;
}

 .actionBtnList img {
    /* -webkit-filter: grayscale(100%);
    filter: grayscale(100%); */
    width: 24px;
    padding: 0 !important;
}
.actionBtnList2 img {
    /* -webkit-filter: grayscale(100%);
    filter: grayscale(100%); */
    width: 24px;
    padding: 0 !important;
}

 .actionBtnList img:hover {
    /* -webkit-filter: none;
    filter: none; */
}

.input-sm {

	border: solid 1px #a6a6a6!important;
    font-size: 14px!important;
    padding: 8px!important;
	margin-left:10px!important; 
	border-radius: 0;

}

.dataTables_filter input {
	/*margin-top: 5px!important;*/
	font-size: 13px!important;
	width: 60%;
	padding: 8px !important;
    height: 38px;
}

.ribbonBtn, .add-phone-row, .delete-phone-row, .add-email-row, .delete-email-row {
	cursor: pointer;

}

.ribbonBtn {
	width: 150px;
    text-align: center;
}


.dataTables_processing  {
	display: block;
    border: 1px solid #ddd;
    background: #fff;
    -webkit-box-shadow: 10px 10px 21px -10px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 21px -10px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 21px -10px rgba(0,0,0,0.75);
}

.filter li a {
	cursor: pointer;
}

#DataTables_Table_0_filter {
     display: none;
}

.table td:focus {
	outline: 0;
}

#kladr-bread a {
	cursor: pointer;
}

#kladr-bread {
	margin: 15px 0;
}

.has-error {
    border-color: #a94442!important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075)!important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075)!important;
}
.has-error:focus {
	outline: #a94442!important auto 5px;
	border: none !important;
}
#leftmenu a {
	cursor: pointer;
}

.add-access {
	cursor: pointer;
	margin: 0 0 0 15px;
	color: #8ac14a !important;
	float: left;
	/* padding: 5px 0 0 0; */
}
.add-access:before{
	content: "";
	clear: both;
	display: block;
}
.add-recipient {
	cursor: pointer;
	float: left;
	margin: 0 0 0 15px;
	color: #8ac14a !important;
}


/* Tables in tabs */
.no-sorted tr > * {
	padding: 15px 0 15px 15px;
	line-height: 24px;
}
.no-sorted div {
	padding: 0 !important;
}
.no-sorted tr th {
	border-bottom: 2px solid #eeeeee;
}
.action-cell {
	width: 20%;  
}
.no-sorted tbody tr {
	border-bottom: 1px solid rgb(238, 238, 238);
	color: #000000;
}

/* Tree */

.jstree {
	width:  100%;
	position: relative;
}
.jstree-container-ul {
	border: 1px solid rgb(170, 170, 170);
	position: absolute;
	width:  100%;
	z-index: 5;
	background-color: white;
}
.outerJstree .jstree-container-ul{
    width: auto!important;
}
.outerJstree100 .jstree-container-ul{
    width: 100%;
}

/* Navbar New */
.ribbon {
    width: 100%;
    top: 58px;
    z-index: 4;
    font-family: 'Open Sans';
    border-bottom: solid 1px #cfcfcf;
    position: fixed;
    top: 95px;
}

.ribbon .nav {
	height: 80px;
}

.ribbon .nav li {
    height: 80px;
	display: flex;
	align-items: center;
	position: relative;

}
.ribbon  .nav > li > a > img  {
	margin-top: 4px !important;
	width: 40px;
	height: 40px;
}
.ribbon .nav li a {
	position: relative; 
	padding: 0 3px;
	height: 80px;
    width: 100px;
	color: #444;
	font-size: 11px;
	line-height: 12px;
}
.ribbon .nav li a:hover {
	color: #000000;
	background-color: #f0f0f0;
}
.ribbon .navbar-collapse {
	padding: 0;
}
.ribbon .nav .sep {
	width:  0px!important;
	height: 72px;
	margin: 4px 0;
	border-left: solid 1px #cfcfcf;
}
.caret {
	display: block;
	width: 0;
	height: 0;
	margin: 0 auto;

}
.ribbon .nav a .caret-btn {
	padding: 7px 0;
	position: absolute;
	width: 30px;
	height: 15px;
	bottom: 0;
	left: 50%;
	margin: 0 auto;
	margin-left: -15px;
	align-content: center;
}
.nav .dropdown-menu li {
	height: 25px;
	width: 100%;
}
.nav .dropdown-menu li a {
	height: 25px;
	width: 100%;
	text-align: left;
	padding: 5px;
}
/* .tooltip {

}
.tooltip.in {
	opacity: 1;
}
.tooltip-inner {
	position: relative;
	width: 180px;
	padding: 2px;
	left: 130px;
	margin-top: -8px;
	color: #fff ;
	background: rgba(0,0,0,.7);
	border-radius: 2px;
	opacity: 1;
	font-family: 'Open Sans';
	font-size: 11px;
}
.tooltip.bottom .tooltip-arrow {
	display: none;
} */
.open > a {
	
}
.navbar-default .navbar-nav > .open > a {
	color: #000000;
}
.navbar-default .navbar-nav > .open > a:hover {
	color: #000000;
}

/*Modal Button*/

.modalBtn .btn {
	width: 33% !important;
}

/*Table dx*/
.dx-datagrid {
	font-size: 15px !important;
	margin-bottom: 0 !important;
	border-collapse: collapse !important;
	margin-top: 6px !important;
	background-color: transparent !important;
	color: #000000 !important;
}
.dx-widget {
	font-family: 'Open Sans' !important;
}
.dx-datagrid-headers {
	color: rgb(91, 93, 93) !important;
}
.dx-datagrid-content {

}
.dx-datagrid-rowsview .dx-row.dx-group-row {
	color: #000000 !important;
}
.dx-row {
	border-bottom: 1px solid rgb(238, 238, 238) !important;
	font-size: 15px !important;
}

.dx-row th {
	color: rgb(91, 93, 93) !important;
}
.dx-data-row:hover {
	background-color: #e5f5fb !important;
}
.dx-row td {
	padding: 15px 0 15px 15px !important;
	border-bottom: none !important;
	border-left: none !important;
	border-right: none !important;
}


/*Resolution*/

#resol  table {
	font-size: 15px !important;
	margin-bottom: 0 !important;
	border-collapse: collapse !important;
	/* margin-top: 6px !important; */
	/* background-color: transparent !important; */
	color: #000000 !important;
}
#resol  table  thead {
	color: rgb(91, 93, 93) !important;
	
}
#resol  table  thead th {
	font-weight: normal;
	padding: 15px;
}
#resol  table  tbody td {
	padding: 15px 0 15px 15px !important;
	border-bottom: none !important;
	border-left: none !important;
	border-right: none !important;
}
/*#resol  table  tbody tr:hover {
	background-color: #e5f5fb !important;
}*/

#resol  table  tbody tr {
	border-bottom: 1px solid rgb(238, 238, 238) !important;
	font-size: 15px !important;
}

#resol > table td[colspan="7"] {
	border-top:1px solid black;
	padding-top:5px !important;
}
#resol .jstree-icon:empty {
    width: 24px;
    height: 24px;
    line-height: 24px;
    display: block;
}
#resol table tbody td:empty {
	padding: 0 !important;
}
#resol .jstree-icon, #history .jstree-icon  {

	background-image: url(../js/jstree/src/themes/default/32px.png);
	background-position: 0px -4px;
    background-repeat: no-repeat;
    background-color: transparent;
} 
.resolOpen, .rowGrOpen .jstree-icon {
	background-position: -30px -4px !important;
}


/*RegModal*/

.selectItem {
	background-color:#e5f5fb !important;
}

.tableSelect, .selectHead {
	font-size: 15px !important;
    margin-bottom: 20px !important;
    border-collapse: collapse !important;
    margin-top: 6px !important;
    background-color: transparent !important;
    color: #000000 !important;
	cursor: default;
}
.selectHead {
	margin-bottom: 0px !important;
	border-bottom:  1px solid rgb(91, 93, 93) !important;
}
.tableSelect tr *, .selectHead tr * {
	padding: 10px 0 10px 10px;

}
.tableBody {
	width: 100%;
	max-height: 400px;
	overflow: auto;
}
.sorting_disabled {
	padding: 15px 0 15px 15px;
}

.duplicateSelect {
	font-size: 15px !important;
    background-color: transparent !important;
    color: #000000 !important;
	cursor: default;
}
.duplicateSelect thead {
	margin-bottom: 0px !important;
	border-bottom:  1px solid rgb(91, 93, 93) !important;
}
.duplicateSelect tr * {
	padding: 5px 0 5px 5px;
}
.toprowicon:hover {
	opacity: 1;
}
.childmenu a:after {
	height: inherit !important;
}

.result-selected {
	background-color: rgb(77, 144, 254) !important;
	color: #fff;
}
.chosen-container .chosen-results li.highlighted {
	background-color: none !important;
  	background-color: rgb(77, 144, 254) !important;
  	color: #fff;
  }

.chosen-container {
	background: #fff;
}

#detail {
	background: #ebf0f3;
	padding-top: 20px;
	padding-bottom: 20px;
	overflow: auto;
	/*height: 28vh;*/
	height: calc(100% - 158px - 36vh - 70px);
}

.firsttbody tr {
	cursor: pointer;
}
.rec-list:hover, .linkeddoc:hover {
	cursor: pointer;
}

.filter1 a:hover {
	cursor: pointer;
}

.select-tr {
	background-color: #e5f5fb;
}
.messageitem .avatar img {
	width: 100px;
	height: 100px;
}
.group-start .jstree-icon:empty {
    width: 24px;
    height: 24px;
    line-height: 24px;
    display: block;
}
.group-start .jstree-icon {

	background-image: url(../js/jstree/src/themes/default/32px.png);
	background-position: 0px -4px;
    background-repeat: no-repeat;
    background-color: transparent;
} 
.group-start .rowGrOpen .jstree-icon {
	background-position: -30px -4px !important;
}
.user-name{
	text-transform: capitalize;
}
.user-name .user-workplace {
	font-size: 12px;
	font-style: italic;
	display: block;
	line-height: 80%;
	text-transform: none;
}

/*MODAL BTN*/
	.modalBtn {
		background-color: #e2e2e2;
		padding: 0 !important;
		margin: 5px 0 !important;
    }
    .modalBtn .btnlist {
        display: flex;
    }
    .modalBtn .sep {
        list-style: none;
        display: inline-block;
        width: 0;
        height: 72px;
        margin: 4px 0;
        border-left: solid 1px #cfcfcf;
    }
	.modalBtn .btn {
		width: 80px !important;
	    height: 80px !important;
	    font-size: 11px !important;
	    margin-top: 0!important;
        border-radius: 0 !important;
        line-height: 12px;
	    background-color: transparent !important;
	    color: #000 !important;
		border: none !important;
	    /*line-height: 80px !important;*/
	    border-left: solid 1px #cfcfcf;
        padding: 0 !important;
        white-space: normal;
        padding-top: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .modalBtn .btn > span {
        /* margin: auto; */
    }
	.modalBtn .btn:hover {
		border: none !important;
		background-color: #f0f0f0 !important;
		box-shadow: none;
	}
	.modalBtn .focus {
		outline: none;
	}

	.modalBtn img {
		margin-top: 8px !important;
	}
	.modalBtn .active {
		border: none !important;
		background-color: #f0f0f0 !important;
		box-shadow: none;
		outline: none;
	}
	.modalBtn input {
		margin-top: 20px;
	} 

/*MODAL BTN*/
#Questions {
	height: 60vh;
}
#Questions .jstree-container-ul {
	min-height:  100%;
	max-height:  100%;
	overflow: auto;
}
table.attachments  {
	margin-bottom: 80px !important;
}
.selectedRow {
	background-color: #e5f5fb;
}

/*ICONS*/



	/* #leftmenu #menuItem0 .item1 a:before {
		background: url(../img/cancelary_active.png) no-repeat;
		background-size: 100%;
	}

	#leftmenu #menuItem0 .item2 a:before {
		background: url(../img/contractor_active.png) no-repeat;
		background-size: 100%;
	}

	#leftmenu #menuItem0 .item3 a:before {
		background: url(../img/contractor_active.png) no-repeat;
		background-size: 100%;
	}


	#leftmenu #menuItem1 .item1 a:before {
		background: url(../img/w10_m_documents_drafts.png) no-repeat;
		background-size: 100%;
	}
	#leftmenu #menuItem1 .item2 a:before {
		background: url(../img/w10_m_documents_on_adjustment.png) no-repeat;
		background-size: 100%;
	}
	#leftmenu #menuItem1 .item3 a:before {
		background: url(../img/w10_m_documents_on_registration.png) no-repeat;
		background-size: 100%;
	}
	#leftmenu #menuItem1 .item4 a:before {
		background: url(../img/w10_m_documents_correspondence.png) no-repeat;
		background-size: 100%;
	}
	#leftmenu #menuItem1 .item5 a:before {
		background: url(../img/w10_m_documents_controlling.png) no-repeat;
		background-size: 100%;
	}
	#leftmenu #menuItem1 .item6 a:before {
		background: url(../img/w10_m_documents_storage.png) no-repeat;
		background-size: 100%;
	}
	#leftmenu #menuItem1 .item7 a:before {
		background: url(../img/w10_m_documents_resolutions.png) no-repeat;
		background-size: 100%;
	}
	#leftmenu #menuItem1 .item8 a:before {
		background: url(../img/w10_m_documents_executer_groups.png) no-repeat;
		background-size: 100%;
	}
	#leftmenu #menuItem3 .item1 a:before {
		background: url(../img/ui/CitizenStatements/w10_m_citizenstatements_statement.png) no-repeat;
		background-size: 100%;
	}

	#leftmenu #menuItem3 .item2 a:before {
		background: url(../img/ui/CitizenStatements/w10_m_citizenstatements_govdepartment.png) no-repeat;
		background-size: 100%;
	} */



/*ICONS*/

/* OVERRIDE */

.btn {
    border-radius: 0!important;
    -webkit-appearance: none;
}

.btn.btn-center {
    border-top: solid 1px #a6a6a6 !important; 
    border-bottom: solid 1px #a6a6a6 !important; 
    border-left: none !important; 
    border-right: none !important; 
    background-color: transparent;
    height: 37px;
    width: 35px;
}
.btn-dots,.btn-cross {
    outline: none !important;
    outline-offset: 0;
}
.btn.btn-end {
    border-top: solid 1px #a6a6a6 !important; 
    border-bottom: solid 1px #a6a6a6 !important; 
    border-left: none !important; 
    border-right:solid 1px #a6a6a6 !important; 
    background-color: transparent;
    height: 37px;
    width: 35px;
}
.group-input {
    border-right: none !important; 
}

.btn-dots {
    position: relative;
}
.btn-dots::before {
    position: absolute;
    content: '...';
    width: 100%;
    right: 0;
    bottom: 8px;
    font-size: 20px;
    font-weight: bold;
    color: #a6a6a6;
}

.btn-cross {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.btn-cross::before {
    position: absolute;
    content: '';
    width: 40%;
    border: 1px solid #a6a6a6;
    transform: rotate(45deg);
    transform-origin: center;
}
.btn-cross::after {
    position: absolute;
    content: '';
    width: 40%;
    border: 1px solid #a6a6a6;
    transform: rotate(-45deg);
    transform-origin: center;
}

.chosen-container-single .chosen-single div {
   /* width: 27px !important; 
    height: 22px !important;*/
    top: 30% !important;
    right: 5px !important;
}
.chosen-container-single .chosen-single div b {
    width: 27px !important; 
    height: 22px !important;
    /*background: none !important;*/
    position: relative;
    /* margin-top: 17px;
    margin-left: 5px; */
    background-image: url("/img/chevron-down-solid.svg");
    background-repeat: no-repeat;
    background-size: 14px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    /*transform: scale(-1);*/
}
/*.chosen-container-single .chosen-single div b::before {
    position: absolute;
    content: '';
    width: 40%;
    border: 1px solid #a6a6a6;
    transform: rotate(-135deg);
    transform-origin: left;
    transform: translate(50%) rotate(135deg);
}*/
.chosen-container-single .chosen-single div b::after {
    position: absolute;
    content: '';
    /*width: 40%;*/
/*    background-image: url("/img/chevron-down-solid.svg");
    background-size: 16px;*/
    /*border: 1px solid #a6a6a6;*/
    /* transform: rotate(-45deg); */
    /*transform-origin: left;*/
    /*transform: translate(50%) rotate(45deg);*/
}
.chosen-with-drop .chosen-single div b {
    /* margin-top: 9px;
    margin-left: -10px; */
    /*transform: scale(1);*/
    align-items: flex-start;
}
/* .chosen-with-drop .chosen-single div b::before {
    transform: rotate(-135deg);
    transform-origin: right;
}
.chosen-with-drop .chosen-single div b::after {
    transform: rotate(-45deg);
    transform-origin: right;
} */


.filter .chosen-results li {
    width: 100%;
}

.chosen-container-multi .chosen-choices li.search-choice {
    background-color: white !important;
    background-image: none !important; 
    border-radius: 0 !important;
}

.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group{
    height: 37px;
}
.input-group-btn .btn{
	border-radius: 0!important;
}


.menu-foot {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    background-color: #39455C;
	flex-direction: column;
	position: fixed;
    bottom: 0;
	width: 100%;
	color: #fff;
}
.menu-foot .copy {
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.menu-foot a{
	color: #fff;
	font-size: 13px;
	margin-top: 5px;
	display: block;
}

.section-main {
	background: url(../img/bg.png) no-repeat;
	background-size: 100% 192px;
	background-position: right bottom!important;
}
/*lang selector*/
#lang-selector a:hover, #lang-selector .active{
	color: #00bbff;
}
/*logout*/
#logout{
	height: 24px;
    width: auto;
    margin-top: 5px;
}
.custom-list{
	margin: 0!important;
}
.custom-list li{
	border-radius: 0!important;
}
.custom-list .btn{
	float: right;
	display: inline-block;
}
.fiz-data, .ur-data{
	display: none;
}
.main_widgets .item5{
	width: calc(100%)!important;
	margin: 5px;
	padding: 20px;
}
.main_widgets .item6{
	width: calc(50% - 10px)!important;
	padding: 0px;
}
.main_widgets .item6 a{
	width: 100%!important;
	padding: 20px;
	color:#fff;
}
.main_widgets .panel-heading {
	margin-bottom: 10px;
}

.main_widgets .panel-body {
	color:#fff;
	border: none!important;
	margin-bottom: 10px;
}
.main_widgets .panel-group h4 {
	margin: 0;
	font-size: 14px;
	color: #fff;
}
.main_widgets .panel-default > .panel-heading{
	background-color: unset;
}
.main_widgets .item5 a{
	color:#fff;
	display: block;
}
.flex {
	display: flex;
}
.item5 {
	display: flex;
	flex-direction: column;
}
.item6 {
	display: flex;
	flex-direction: column;
	margin: 5px;
}
.item6 a {
	flex-basis: 50%;
}
.main_widgets .panel {
	background: url(/img/ui/folder.png) no-repeat;
	background-size: 24px;
    padding: 5px 0 5px 40px;
}

.open-folder {
	background: url(/img/ui/open.png) no-repeat!important;
	background-size: 24px!important;
}

.ribbonBtn2 {
	cursor: pointer;
}
.ribbonBtn2:hover {
	text-decoration: underline!important;
}
#accordion {
	margin-bottom: 0;
}
.eclipse {
	background: #fff url(/img/loader.gif) no-repeat center center;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 100000;
    position: absolute;
    top: 0;
}

textarea {
	resize: none;
  }

.remRow {
	cursor: pointer;
}

.form-text-field {
	border-top: 0!important;
    border-left: 0!important;
    border-right: 0!important;
    border-bottom: 1px solid #ccc!important;
}

.form-text-field:focus {
	outline: none!important;
	border-top: 0!important;
    border-left: 0!important;
    border-right: 0!important;
    border-bottom: 1px solid #ccc!important;
}
