.inner-tabs {
	height: 160px;
	/*background-color: #3F4D67;*/
	color: #fff;
	padding: 10px;
}

.bgc-1 {
	background-color: #3D64AF;
}
.bgc-2 {
	background-color: #36C0F1;
}
.bgc-3 {
	background-color: #562E8F;
}
.bgc-4 {
	background-color: #eb315a;	
}
.bgc-5 {
	background-color: #FE533D;
}
.bgc-6 {
	background-color: #247ebc;
}
.bgc-7 {
	background-color: #00aeef;
}
.bgc-8 {
	background-color: #39b54a;
}

.container-tabs {
	/*position: relative;*/
	margin-bottom: 20px;
	font-size: 8pt;
	padding-right: 10px;
	padding-left: 10px;
}

p span.fa {
	margin-right: 5px;
}

.panel-md {
	margin-bottom: 10px;
	border-radius: 2px;
	width: 100%;
    padding: 10px 17px;
    display: inline-block;
    background: #fff;
    box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
    -webkit-column-break-inside: avoid;
    border: 1px solid #DBDBDB;
}

li p {
	font-size: 9pt;
}
 
li h4 {
	font-size: 11pt;
}

.card p{
	font-size: 9pt;
}
.card-text {
	font-size: 9pt;
}
.card-title , .card li {
	border-bottom: 1px solid #DBDBDB;
}

span > img  {
	float: left;
	margin-right: 10px;
}

.links-net {
	float: left;
}
label {
	margin-top: 0px;
}

.block-field {
	margin-bottom: 20px;
}

.invalid {
	border-color: red;
}

.valid {z
	border-color: green;
}

.error-box{
    color: #fff;
}

ul li a.ribbonBtn {
	color: #fff;
}

.valid-form input:active {
	border-color: yellow;
}

.table > tbody > tr > td , th{
	padding: 15px 15px !important;
}

input:focus {
	border-width: 0px;
}