
  <div id="wrapper">
<div id="sidebar-wrapper">
  <div class="visible-xs visible-sm">
    <div class="panel-group" id="sidebar" role="tablist" aria-multiselectable="true">
    </div>
  </div>
</div>
<div id="page-content-wrapper">
<!--header-->
<header class="header">
  <div class="container-fluid">
    <div class="row">
      <div class="nav toggle burger head-nav">
        <input type="checkbox" id="hmt" data-toggle=".hidden-menu" class="hidden-menu-ticker">
        <!-- <label class="btn-menu" for="hmt">
          <span class="first"></span>
          <span class="second"></span>
          <span class="third"></span>
        </label> -->
        </div>
        <script type="text/javascript">
          $(document).ready(function () {
          $(".sub > a").removeClass('active');
          /*$(".sub > a").click(function() {
            $(".sub ul").animate({"height":"0px"}, "fast");
            var ul = $(this).next(), 
            height = ul.css("height") === "0px" ? ul[0].scrollHeight + "px" : "0px";
            ul.animate({"height":height}, "fast");
            return false;
          });*/


          // , .sub a
          $('.mini-menu > ul > li > a').on("click", function(e){
            var $link = $(e.target);
            e.preventDefault();
            if(!$link.data('lockedAt') || +new Date() - $link.data('lockedAt') > 200) {
              $(".sub ul").animate({"height":"0px"}, "fast");
              var ul = $(this).next(), 
              height = ul.css("height") === "0px" ? ul[0].scrollHeight + "px" : "0px";
              ul.animate({"height":height}, "fast");
              thisId = $(this).parent("li").attr('id');
              $('.mini-menu > ul > li:not(#'+thisId+')').find('.fa-chevron-up').removeClass('fa-chevron-up').addClass('fa-chevron-down');
              if ($(this).find('.fa-chevron-down').length > 0) {
                $(this).find('.fa-chevron-down').removeClass('fa-chevron-down').addClass('fa-chevron-up')
              } else if ($(this).find('.fa-chevron-up').length > 0) {
                $(this).find('.fa-chevron-up').removeClass('fa-chevron-up').addClass('fa-chevron-down')
              }
            }
            $link.data('lockedAt', +new Date());  
            return false;
          });


          $('.sub ul li a').click(function(){
            $('.sub ul li a').removeClass('active');
            if($(this).find('.active').length > 0) {
              $(this).removeClass('active')
            } else if ($(this).find('.active').length == 0){
              $(this).addClass('active')
            }
            $('.mini-menu > ul > li > a').removeClass('active');
          });

          $("#copy-date").text(new Date().getFullYear());
        });
        </script>   
      </div> 
      <!--logo-->
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-1 logo">
        <div style="width: 300px;">
        <a title="СЭД «АВРОРА»" class="home-link" title="В начало" href="/">
          <div class="logo_img" style="float: left;">
        <img src="img/logo-auth.svg" height="36" class="hidden-xs" onerror="this.src='img/logo.png'"> 
          </div>
        <div class="logo_text hidden-xs">
          <div class="first">Электронный акимат</div>
          <div class="second">Атырауской области</div>
        </div>
        <img src="img/logo-auth.svg" height="36" class="visible-xs" onerror="this.src='img/logo-icon.png'">
        </a>
        </div>
      </div>
      <!--/logo-->
      <div class="" style="padding: 0 10px;margin-left:-30px;float:left;">
        <label class="btn-menu" for="hmt">
          <span class="first"></span>
          <span class="second"></span>
          <span class="third"></span>
        </label>
      </div>
      <!-- <div class="col-lg-4 col-md-3 col-sm-3 search form visible-lg visible-md">
        <div class="visible-lg visible-md">
          <div class="row-search">
            <td class="form">
              <div class="form-search">
                <form action="list.php">
                  <input class="field" placeholder="Название, номер документа" title="Введите название, номер документа">
                  <input  class="srch" type="button" title="Найти документ" value="">
                </form>
              </div>
            </td>
            <div class="ext hidden-xs hidden-sm hidden-md"><a class="extdendedsearch" /*data-toggle="modal"*/ data-target="#search" title="Расширенный поиск">Расширенный поиск</a></div>
            <div class="visible-sm visible-xs hidesearch"><i class="fa fa-times-rectangle"></i></div>
          </div>
        </div>
      </div> -->
      <div class="personal">
        <div class="el  visible-xs visible-sm mobsearch note">
          <img src="img/ico/search-gray.svg" class="toprowicon" onerror="this.src='img/ico/search-gray.svg'" alt="Поиск по документам" title="Поиск по документам">
        </div>
        <div class="el mail">
          <a href="javascript:;" class="dropdown-toggle mail-down notifyCenter" data-action="0301010">
            <span class="mail-pic fa fa-envelope-o"><p  class="badge  count ">0</p></span>
          </a>
        </div>
        <div id="lang-selector">
          <a href="#">Каз</a> / <a class="active" href="#">Рус</a>
        </div>
        <div class="el user-menu mail-down">
          <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <div class="user-field">
              <div class="user-picture">
                <img class="img-circle" src="img/ico/icon_user_menu.png">
              </div>
              <div>
                <span class="hidden-xs  user-name">ФИО</span>
                <!-- <span class="fa fa-chevron-down down-btn"></span> -->
              </div>
            </div>
          </a>
            <!--<ul class="dropdown-menu dropdown-usermenu pull-right drop-user-menu">
                <li>
                  <a href="javascript:;">Профиль</a>
                </li>
                <li>
                  <a href="javascript:;">
                    <span class="badge setting-icon pull-right">50%</span>
                    <span>Настройки</span>
                  </a>
                </li>
                <li>
                  <a id=logout>
                    <span>Выход</span>
                    <span class="badge setting-icon pull-right"><span class="fa fa-sign-out"></span></span>
                  </a>
                </li>     
              </ul>-->            
        </div>
        <img id="logout" src="img/logout.png">
        <script type="text/javascript">
          // $(document).ready(function() {
            // $('.user-field').click(function() {
              // $('.dropdown-usermenu').toggleClass('tglShow');
              // if ($(document).find('dropdown-usermenu').hasClass('tglShow')){
              //   $('.down-btn').removeClass('fa-chevron-down').addClass('fa-chevron-up');
              // }
              // if (!$(document).find('dropdown-usermenu').hasClass('tglShow')){
              //   $('.down-btn').removeClass('fa-chevron-up').addClass('fa-chevron-down');
              // }
            // });
          // });
        </script>
      </div>
    </div>
  </div>
</header>
       
<!--/header-->

<div class="container-fluid content"><!--goto-->
<div class="row main">
<div class="hidden-menu" id="menu-with-scrollbar">
  <div class="childmenu">
    <div class="profile-table">
      <div align="center" class="user-block">
        <div class="user-picture">
          <img class="img-circle" src="img/ico/icon_user_menu.png">
        </div>
        <div class="user-info">
            <h2 class="menu-user-name">ФИО</h2>
        </div>  
      </div>
    </div>
    <div class="drop-list" id="scroll-div">
      <div class="mini-menu" id="leftmenu">
        <ul> 
          <li class="sub">
            <a href="#" ><span class="glyphicon glyphicon-home icons"></span>Главная<span class="fa fa-chevron-down"></span>
            </a>
              <ul>
                <li><a href="list.php">Черновики<span class="mini-menu-count badge">1</span></a></li>
                <li><a href="#">Согласование<span class="mini-menu-count badge">2</span></a></li>
              </ul>  
            </li>
            <li>
              <a href="#"><span class="glyphicon glyphicon-plus icons"></span>На регистрации</a>
            </li>
            <li class="sub">
              <a href="#"><span class="glyphicon glyphicon-envelope icons"></span>Корреспонденция<span class="fa fa-chevron-down"></span>
              </a>
              <ul>
                <li><a href="#">Хранилище<span class="mini-menu-count badge">3</span></a></li>
                <li><a href="#">Резолюции<span class="mini-menu-count badge">4</span></a></li>
              </ul>
            </li>
            <li>
              <a href="#"><span class="fa fa-file-text-o icons"></span> Отчеты</a>
            </li>
            <li>
                <a href="#"><span class="glyphicon glyphicon-user icons"></span>Контакты</a>
            </li>
        </ul>
      </div>
    </div>
    <div class="menu-foot">
      <div><a href="?p=support">Техническая поддержка</a></div>
      <div class="copy"><span id="copy-date"></span> © Компания Интегро</div>
    </div>
  </div>
</div>

<!--/nav-->

<!--content-->
<div id="scroll-forcontent" class="col-sm-12 col-xs-12 forcontent no-float col-lg-12 col-md-12 whitebg">
  
</div>

<!--/wrappers-->
<script type="text/javascript">
  $(document).ready(function() {
    $("[data-toggle=\".hidden-menu\"]").click(function() {
      var toggle_el = $(this).data("toggle");
      // var clide_content = document.getElementByClass('.forcontent');
      // alert(clide_content);
      var slide_menu = $('.forcontent');
      var newribbon = $('.function-group');
      $(newribbon).toggleClass('resize-tab');
      $(slide_menu).toggleClass('move-content');
      $(toggle_el).toggleClass("open-sidebar");
    });
  });
</script>
</body>

<!--modal search-->
<div class="searchresults hide" id="currentmodule">
 
<div class="searchitem"><a href="doc.php">Тестовый организационно-распорядительный документ</a></div>
<div class="searchitem"><a href="doc.php">Организационно-распорядительный документ</a></div>
<div class="searchitem"><a href="doc.php">Тестовый организационно-распорядительный документ</a></div>
<div class="searchitem"><a href="doc.php">Организационно-распорядительный документ</a></div>
<div class="searchitem"><a href="doc.php">Тестовый организационно-распорядительный документ</a></div>
<div class="searchitem"><a href="doc.php">Организационно-распорядительный документ</a></div>
<div class="allresults"><a id="ext">Расширенный поиск</a></div>
</div>

</div>
<!--/modals--> 
<!--<script src="js/moment.min.js"></script> 
<script src="js/jquery.dataTables.min.js"></script> 
<script src="js/datetime-moment.js"></script> 
<?php /*?><script src="js/dataTables.bootstrap.min.js"></script> 
<?php */?><script src="js/dataTables.responsive.min.js"></script> 

<script src="js/bootstrap.min.js"></script> 
<script src="js/script.js"></script> 
<script src="js/mobile.js"></script> 
<script src="js/bxslider/jquery.bxslider-rahisified.min.js"></script> 
<script src="js/jquery.maskedinput.min.js"></script>
<script src='/js/fullcalendar/fullcalendar.min.js'></script>
<script src='/js/fullcalendar/locale/ru.js'></script>-->
</html>
<script>
$(function(){
  $('.btn-menu').on('click', function(){
		$('.logo').toggleClass('in');
	});
})
</script>