<div class="login">
  <div class="form">
    <center>
      <img src="img/logo-auth.svg" width="220" height="160">
    </center>
    <form action="index.php">
      <label class="required">Логин</label>
      <input class="w100 text-field" id="login_input" type="text">
      <label class="required">Пароль</label>
      <input class="w100  text-field" id="password" type="password">
      <div class="buttons">
        <button type="button" id="sbt" class="save">Войти</button>
      </div>
    </form>
    <div class="recover"> <a href="">Восстановить пароль</a> <!--<a href="">Попробовать</a>--> </div>
  </div>
  <div class="copy">
    <div class="col-xs-6 text-left"><span class="hidden-xxs">2019 &copy;</span> Компания Интегро</div>
      <div class="col-xs-6 text-right"> 
          <span class="hidden-xs">Служба поддержки:</span> <a href="mailto:sed@integro.kz" title="Служба поддержки">
            <span class="hidden-xs">sed@integro.kz</span><span class="visible-xs">Служба поддержки</span></a> 
      </div>
  </div>
</div>
<div style="position: fixed;right: 80px;top: 50px;font-weight: bold;font-size: 19px;color:#4b4a4a"><span>ҚАЗ</span> / <span style="color:#054594">РУС</span></div>

<Script>
  $(document).ready(function () {
    $('#sbt').click(function() {
      if ($('#password').val()=='') {
        $('#password').addClass('error');
      }
      else {
        $('#password').removeClass('error');
      }
    });
  });
</Script>