<div class="section row">
    <div class="secttitle col-xs-12">Сведения об обучаемом</div>
    <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-lg-4 col-md-4">
                <label class="required">ИИН</label>
                <input type="text" class="text-field w100" name="StudentIIN" id="StudentIIN" readonly>
            </div>
        </div>
    </div> 
    <div class="col-xs-12 col-sm-12 col-lg-4 col-md-4">
        <label class="required">Фамилия</label>
        <input type="text" class="text-field w100" name="StudentSurname" id="StudentSurname" readonly>
    </div>
    <div class="col-xs-12 col-sm-12 col-lg-4 col-md-4">
        <label class="required">Имя</label>
        <input type="text" class="text-field w100" name="StudentName" id="StudentName" readonly>
    </div>  
    <div class="col-xs-12 col-sm-12 col-lg-4 col-md-4">
        <label class="required">Отчество</label>
        <input type="text" class="text-field w100" name="StudentPatronymic" id="StudentPatronymic" readonly>
    </div>
</div>    

<div class="section row">
    <div class="secttitle col-xs-12">Организация образования</div>
    <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
        <label class="required">Наименование</label>
        <input type="text" class="text-field w100" name="EducationalOrganizationName" id="EducationalOrganizationName" readonly>
    </div> 
    <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
        <label class="required">Основание для обучения в форме экстерната</label>
        <input type="text" class="text-field w100" name="ObuchTypes" id="ObuchTypes" readonly>
    </div> 
</div>
