<div class="section row">
    <div class="secttitle col-xs-12">Сведения о ребенке</div>
    <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-lg-4 col-md-4">
                <label class="required">ИИН</label>
                <input type="text" class="text-field w100" name="StudentIIN" id="Iin" readonly>
            </div>
        </div>
    </div> 
    <div class="col-xs-12 col-sm-12 col-lg-4 col-md-4">
        <label class="required">Фамилия</label>
        <input type="text" class="text-field w100" name="StudentSurname" id="Surname" readonly>
    </div>
    <div class="col-xs-12 col-sm-12 col-lg-4 col-md-4">
        <label class="required">Имя</label>
        <input type="text" class="text-field w100" name="StudentName" id="Name" readonly>
    </div>  
    <div class="col-xs-12 col-sm-12 col-lg-4 col-md-4">
        <label class="required">Отчество</label>
        <input type="text" class="text-field w100" name="StudentPatronymic" id="Patronymic" readonly>
    </div>
</div>    
