<div class="section row">
    <div class="secttitle col-xs-12">Сведения о ребенке</div>
    <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-lg-4 col-md-4">
                <label class="required">ИИН</label>
                <input type="text" class="text-field w100" name="Iin" id="Iin" readonly>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-lg-4 col-md-4">
        <label class="required">Фамилия</label>
        <input type="text" class="text-field w100" name="Surname" id="Surname" readonly>
    </div>
    <div class="col-xs-12 col-sm-12 col-lg-4 col-md-4">
        <label class="required">Имя</label>
        <input type="text" class="text-field w100" name="Name" id="Name" readonly>
    </div>  
    <div class="col-xs-12 col-sm-12 col-lg-4 col-md-4">
        <label class="required">Отчество</label>
        <input type="text" class="text-field w100" name="Patronymic" id="Patronymic" readonly>
    </div>
</div>
<div class="section row">
    <div class="secttitle col-xs-12">Лицевой счет заявителя</div>
    <div class="col-xs-12 col-sm-12 col-lg-4 col-md-4">
        <label class="required">Номер</label>
        <input type="text" class="text-field w100" name="LicevojSchet" id="LicevojSchet" readonly>
    </div>
    <div class="col-xs-12 col-sm-12 col-lg-8 col-md-8">
        <label class="required">Наименование банка</label>
        <input type="text" class="text-field w100" name="NameBank" id="NameBank" readonly>
    </div>
</div>    
