<div class="section row">
    <div class="secttitle col-xs-12">Сведения об инвалиде</div>
    <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-lg-4 col-md-4">
                <label class="required">ИИН</label>
                <input type="text" class="text-field w100" name="Iin" id="Iin" readonly>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-lg-4 col-md-4">
        <label class="required">Фамилия</label>
        <input type="text" class="text-field w100" name="Surname" id="Surname" readonly>
    </div>
    <div class="col-xs-12 col-sm-12 col-lg-4 col-md-4">
        <label class="required">Имя</label>
        <input type="text" class="text-field w100" name="Name" id="Name" readonly>
    </div>  
    <div class="col-xs-12 col-sm-12 col-lg-4 col-md-4">
        <label class="required">Отчество</label>
        <input type="text" class="text-field w100" name="Patronymic" id="Patronymic" readonly>
    </div>
    <div class="col-xs-12 col-sm-12 col-lg-4 col-md-4">
        <label class="required">Телефон</label>
        <input type="text" class="text-field w100" name="Phone" id="Phone" readonly>
    </div>
    <div class="col-xs-12 col-sm-12 col-lg-8 col-md-8">
        <label class="required">Адрес</label>
        <input type="text" class="text-field w100" name="Address" id="Address" readonly>
    </div>
    <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
        <label class="required">Инвалидность и (или) степень утраты трудоспособности</label>
        <input type="text" class="text-field w100" name="InvalidityType" id="InvalidityType" readonly>
    </div>
</div>
<div class="section row">
    <div class="secttitle col-xs-12">Дополнительные сведения</div>
    <div class="col-xs-12 col-sm-12 col-lg-8 col-md-8">
        <label class="required">Связь причины инвалидности с трудовой деятельностью</label>
        <input type="text" class="text-field w100" name="LaborActivityRelation" id="LaborActivityRelation" readonly>
    </div>
    <div class="col-xs-12 col-sm-12 col-lg-4 col-md-4">
        <label class="required">Принадлежность к участникам ВОВ</label>
        <input type="checkbox" name="WarVeteranRelation" id="WarVeteranRelation" disabled="disabled">
    </div>
</div>      
