<div class="section row">
    <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
        <label class="required">Место работы</label>
        <input type="text" class="text-field w100" name="DeclarantJob" id="DeclarantJob" readonly>
    </div>
    <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
        <label class="required">Должность</label>
        <input type="text" class="text-field w100" name="DeclarantPosition" id="DeclarantPosition" readonly>
    </div>  
    <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
        <label class="required">Вид социальной поддержки</label>
        <input type="text" class="text-field w100" name="TypeSocialSupport" id="TypeSocialSupport" readonly>
    </div>
</div>
     
