<div class="section row">
    <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
        <label class="required">Организация образования</label>
        <input type="text" class="text-field w100" name="OrgObrName" id="OrgObrName" readonly>
    </div>
    <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
        <label class="required">Специальность</label>
        <input type="text" class="text-field w100" name="Specialty" id="Specialty" readonly>
    </div>
    <div class="col-xs-12 col-sm-12 col-lg-4 col-md-4">
        <label class="required">Форма обучения</label>
        <input type="text" class="text-field w100" name="FormaObucheniya" id="FormaObucheniya" readonly>
    </div>
    <div class="col-xs-12 col-sm-12 col-lg-4 col-md-4">
        <label class="required">Обучение на основе</label>
        <input type="text" class="text-field w100" name="ObuchenieNaOsnove" id="ObuchenieNaOsnove" readonly>
    </div>  
    <div class="col-xs-12 col-sm-12 col-lg-4 col-md-4">
        <label class="required">Инвалид I, II группы или инвалид с детства</label>
        <input type="checkbox" name="Invalid" id="Invalid" disabled="disabled">
    </div>
</div>

     
