<div class="section row">
    <form id="object">
        <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
            <label class="required">Наименование учебного заведения</label>
            <input type="text" class="text-field w100" name="OrgObrName" id="OrgObrName" readonly>
        </div>
        <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
            <label class="required">Наименование и адрес учебного заведения, в случае их изменения</label>
            <input type="text" class="text-field w100" name="OrgObrNameAdressOld" id="OrgObrNameAdressOld" readonly>
        </div>
        <div class="col-xs-12 col-sm-12 col-lg-8 col-md-8">
            <label class="required">Вид документа об образовании</label>
            <input type="text" class="text-field w100" name="SchoolDocTypes" id="SchoolDocTypes" readonly>
            <input type="hidden" id="SchoolDocTypes2" readonly>
        </div>
        <div class="col-xs-12 col-sm-12 col-lg-4 col-md-4">
            <label class="required">Год окончания учебного заведения</label>
            <input type="text" class="text-field w100" name="FinishEducationalYear" id="FinishEducationalYear" readonly>
        </div>
        <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
            <label class="required">Причина запроса</label>
            <textarea class="text-field w100" id="RequestReason" rows="4" readonly></textarea>
        </div>
    </form>
</div>