<div class="section row">
    <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
        <label class="required">Организация образования</label>
        <input type="text" class="text-field w100" name="OrgName" id="OrgName" readonly>
    </div>
    <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
        <label class="required">Специальность</label>
        <input type="text" class="text-field w100" name="Specialty" id="Specialty" readonly>
    </div>  
    <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
        <label class="required">Причина академического отпуска</label>
        <input type="text" class="text-field w100" name="ReasonAcadem" id="ReasonAcadem" readonly>
    </div>
</div>
     
