<div class="section row">
    <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
        <label class="required">Организация образования</label>
        <input type="text" class="text-field w100" name="EducationalOrganization" id="EducationalOrganization" readonly>
    </div>
    <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
        <label class="required">Специальность</label>
        <input type="text" class="text-field w100" name="DeclarantSpecialty" id="DeclarantSpecialty" readonly>
    </div>
    <div class="col-xs-12 col-sm-12 col-lg-4 col-md-4">
        <label class="required">Курс</label>
        <input type="text" class="text-field w100" name="DeclarantCourse" id="DeclarantCourse" readonly>
    </div>
    <div class="col-xs-12 col-sm-12 col-lg-4 col-md-4">
        <label class="required">Группа</label>
        <input type="text" class="text-field w100" name="DeclarantGroup" id="DeclarantGroup" readonly>
    </div>  
    <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
        <label class="required">Категория обучающегося</label>
        <input type="text" class="text-field w100" name="StudentCategory" id="StudentCategory" readonly>
    </div>
</div>

     
