<div class="section row">
    <div class="secttitle col-xs-12">Информация о конкурсе</div>
    <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
        <label class="required">Конкурсная организация среднего образования</label>
        <input type="text" class="text-field w100" name="СompetitionOrgName" id="СompetitionOrgName" readonly>
    </div>
    <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
        <label class="required">С правилами конкурса ознакомлен</label>
        <input type="checkbox" name="Familiarization" id="Familiarization" disabled="disabled">
    </div>
</div>
<div class="section row">
    <div class="secttitle col-xs-12">Данные о работе</div>
    <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
        <label class="required">Организация образования заявителя</label>
        <input type="text" class="text-field w100" name="DeclarantOrgName" id="DeclarantOrgName" readonly>
    </div>
    <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
        <label class="required">Должность</label>
        <input type="text" class="text-field w100" name="DeclarantPosition" id="DeclarantPosition" readonly>
    </div>
    <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
        <label class="required">Результаты работы</label>
        <textarea class="text-field w100" id="DeclarantWorkResult" rows="4" readonly></textarea>
    </div>
</div>
<div class="section row">
    <div class="secttitle col-xs-12">Стаж работы</div>
    <div class="col-xs-12 col-sm-12 col-lg-3 col-md-3">
        <label class="required">Общий</label>
        <input type="text" class="text-field w100" name="TotalExperience" id="TotalExperience" readonly>
    </div>
    <div class="col-xs-12 col-sm-12 col-lg-3 col-md-3">
        <label class="required">По специальности</label>
        <input type="text" class="text-field w100" name="SpecialityExperience" id="SpecialityExperience" readonly>
    </div>
    <div class="col-xs-12 col-sm-12 col-lg-3 col-md-3">
        <label class="required">Педагогический</label>
        <input type="text" class="text-field w100" name="PedagogicalExperience" id="PedagogicalExperience" readonly>
    </div>
    <div class="col-xs-12 col-sm-12 col-lg-3 col-md-3">
        <label class="required">В текущей организации</label>
        <input type="text" class="text-field w100" name="ExperienceCurrentOrg" id="ExperienceCurrentOrg" readonly>
    </div>
</div>    