<div class="section row">
    <div class="secttitle col-xs-12">Мемориальная доска</div>
    <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
        <label class="required">Наименование</label>
        <input type="text" class="text-field w100" name="MemoBoardName" id="MemoBoardName" readonly>
    </div>
    <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
        <label class="required">Описание</label>
        <textarea class="text-field w100" id="MemoBoardDescription" rows="4" readonly></textarea>
    </div>
    <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
        <label class="required">Цель</label>
        <input type="text" class="text-field w100" name="MemoBoardPurposeInstall" id="MemoBoardPurposeInstall" readonly>
    </div>
    <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
        <label class="required">Местонахождение (адрес)</label>
        <input type="text" class="text-field w100" name="MemoBoardAdress" id="MemoBoardAdress" readonly>
    </div>
    <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
        <label class="required">Устанасливается на фасадах здания или сооружения, являющегося памятником истории и культуры республиканского и международного значения</label>
        <input type="checkbox" class="mr-top-checkbox" name="IsCulturalMonument" id="IsCulturalMonument" disabled="disabled">
    </div>
</div>
        