<div class="section row">
    <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
        <label class="required">Название коллектива художественной самодеятельности</label>
        <input type="text" class="text-field w100" name="ArtisticGroupName" id="ArtisticGroupName" readonly>
    </div>
</div>
        