
   <style>
       .chosen-single {
           width: inherit;
       }
   </style>
   <input type="hidden" id="service">
      <input type="hidden" id="state">
   <div class="breadcrumbs"></div>
   <div class="ribbon"></div>
  <div class="contentCard">
      <div class="contentCardInner">
          <div class="col-xs-12 col-sm-12 col-md-12 tabswitch"> 
  
              <div class="row">
              <div class="col-xs-6 col-sm-8 col-md-8 col-lg-8">
                <div class="filter">
                      <select size="1" data-placeholder="Выберите значение..." class="Statuses"></select>
                </div>
              </div>
              <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 selectval">
                <div id="" class="dataTables_filter">
                    <input id="table-search" type="search" class="form-control input-sm w100" placeholder="Фильтр" aria-controls="DataTables_Table_0">
                </div>
              </div>
  
  
              </div>
  
          </div>
  
          <div class="doclist ">          
            <table class="table table-hover display" width="100%" style="border-collapse: collapse!important;margin-bottom: 0px!important;"></table>
          </div>
      </div>
  </div>
  <script>
    $(function() {
      var token = $.session.get("token");
      var service = $('#service').val();
      var state = null;
      if($('#state').val() != "") {
        state = $('#state').val();
      }
    
      $.ajax({
      "url": "http://"+ip+"/EAkimat/"+service+"/Collection/EAkimat.Statement",
      xhrFields: {
      withCredentials: true
      },
      beforeSend: function(xhr){
      xhr.setRequestHeader("content-type", "application/json");
      xhr.setRequestHeader("Token", token);
      },
      success: function(data){
  
      var html = '';
  
      if (data.Data.Menu) {
  
      Ribbon(data, '.ribbon');
  
      $('.ribbonBtn').on('click', function(){
  
      var action = $(this).data('action');
      var type = $(this).data('type');
  
      if (action == 'New') {
  
      NewView(token, type);
  
      }
  
  
      })
  
      }
  
      }
      })
                var $_GET = {};
    
    document.location.search.replace(/\??(?:([^=]+)=([^&]*)&?)/g, function () {
        function decode(s) {
            return decodeURIComponent(s.split("+").join(" "));
        }
    
        $_GET[decode(arguments[1])] = decode(arguments[2]);
    });
      docTypeMainPage = $('#docTypeMainPage').val();
      if(docTypeMainPage && docTypeMainPage != ''){
        var fparam1 = docTypeMainPage;
      }else{
        var fparam1 = 'ALL';
      }
      
      var fparam2 = '-1';
      var fparam3 = 'Unregistered';
      
      // $('.DocTypes').chosen({width: '150px', disable_search: true});
    function getFilter() {
    
      $.ajax({
              "url": "http://"+ip+"/EAkimat/"+service+"/Statement.Filter",
              xhrFields: {
                  withCredentials: false
               },
              //async: false,
              cache: false,
              beforeSend: function(xhr){
                xhr.setRequestHeader("content-type", "application/json");
                xhr.setRequestHeader("Token",  token);
              },
              success: function(data){
    
                var filter = data;
                var opts1 = '';
                var opts2 = '';
                var opts3 = '';
    
                $(filter.DocTypes).each(function(k,v){
    
                  var sel1 = '';
    
                  // if (v[0] == fparam1) {
                  //   sel1 = 'selected';
                  // }
    
                    opts1 += '<option '+sel1+' value="'+v[0]+'">'+v[1]+'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'+v[2]+'</option>';
    
                })
    
                $('.DocTypes').html(opts1);
                $('.DocTypes').trigger('chosen:updated');
    
                $(filter.Periods).each(function(k,v){
    
                   var sel2 = '';
                 
    
                   if (v[0] == fparam2) {
                    sel2 = 'selected';
                  }
    
                    opts2 += '<option '+sel2+' value="'+v[0]+'">'+v[1]+'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'+v[3]+'/'+v[2]+'</option>';
    
                })
    
                $('.Periods').html(opts2);
                $('.Periods').trigger('chosen:updated');
    
    
                // $('.DocTypes').html(opts1);
                var opts3 = '<option value="-1">Все</option>';
    
                $(filter.Statuses).each(function(k,v){
    
                   var sel3 = "";
    
                   if (v[0] == state) {
                    sel3 = 'selected';
                  }
    
                    opts3 += '<option '+sel3+' value="'+v[0]+'">'+v[1]+'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'+v[2]+'</option>';
    
                })
    
                $('.Statuses').html(opts3);
                $('.Statuses').trigger('chosen:updated');
    
                
    
              }
        })
    
    }
    
      function GetDataTable() {
       $.fn.dataTable.moment('DD.MM.YYYY');
            var table = $('.table').DataTable({
              "processing": true,
              "destroy": true,
                  "serverSide": true,
                  "searching": true,
                  "ajax": { 
                   "url": "http://"+ip+"/EAkimat/"+service+"/Statement.List",
                   xhrFields: {
          withCredentials: false
       },
                    beforeSend: function(xhr){
                      xhr.setRequestHeader("Token",  token);
                    },
                    error: function(data, d1, d2){
                        
                        
                        
                    },
                    
                  },
            
        "sDom": 'rtipl', 
        "language": {
          "url": "/js/russian.js"
        },
        "searchCols": [
                          null,
                          { "search": state != null ? state : '' },
                          null,
                         
                      ],
        "columnDefs": [
        {
            "targets": [ 0 ],
            "visible": true,
            "searchable": false,
            "render": function ( data, type, row ) {
                return row[1]
            },
        },
        {
            "targets": [ 1 ],
            "visible": true,
            "searchable": true,
            "render": function ( data, type, row ) {
                return row[2]
            },
        },
        {
            "targets": [ 2 ],
            "visible": true,
            "searchable": true,
            "render": function ( data, type, row ) {
                return row[3]
            },
        },
        {
            "targets": [ 3 ],
            "visible": true,
            "searchable": true,
            "render": function ( data, type, row ) {
                return row[4]
            },
        },
        {
            "targets": [ 4 ],
            "visible": true,
            "searchable": true,
            "orderable": false,
            "render": function ( data, type, row ) {
                return row[5]
            },
        },
       
         {
            "render": function ( data, type, row ) {
    
              var btns = '<div class="hide">'+ 
                                  '<a class="actionBtnList" data-action="open" data-title="'+row[1]+'" data-type="EAkimat.Statement" data-id="'+row[0]+'"><img title="Открыть" alt="Открыть" src="img/ui/open_inactive.png" ></a>';
    
                       
                                 
                  return btns;
                    },
            "orderable": false,
            "width": "120px",
            "targets": [5 ]
        },   
        ],
        "createdRow": function( row, data, dataIndex ) {
           
          },
        
        "responsive": true, 
        "autoWidth": true,
        "destroy": true,
        filter: true,
          "pagingType": "full_numbers",
        columns: [
                { title: "Номер" },
                { title: "Дата" },
                { title: "ИИН/БИН" },
                { title: "Заявитель" },
                { title: "Исполнитель" },
                 { title: "" },
                
              ],
        "drawCallback": function( settings ) {
            $('.dataTables_length select').chosen({disable_search: true,width: 'auto'});
            $('.dataTables_length .chosen-search-input').hide();
         
          
        }
      });
    
          //   $('#table-search').on( 'keyup', function () {
          //     table.search( this.value ).draw();
          // } );
    
      $('.filter select').on('change', function(){
    
        var types = {
                      // "DocTypes": 3,
                      // "Periods" : 6,
                      "Statuses": 1
        };
    
        var cla = $(this).attr('class');
    
        var param = $('.'+cla+' option:selected').val();
    
        var col = types[cla];
    
        // if (cla == 'DocTypes') {
        //   fparam1 = param;
        // } else if (cla == 'Periods') {
        //   fparam2 = param
        // } else {
        //   fparam3 = param;
        // }
    
        // getFilter();
    
        table
            .columns( col )
            .search( param)
            .draw();
    
      });
    
      // $('#table-search').on( 'keyup', function () {
      //   table.search( this.value ).draw();
      // });
    }
    
    GetDataTable();
    
    $('.filter select').chosen({disable_search: true,width: '200px'});
    getFilter();
    
      $('.table tbody').on('mouseenter', 'tr', function () {
            $(this).find('.hide').addClass("show");
            $(this).find('.show').removeClass("hide");
      });
    
      $('.table tbody').on('mouseleave', 'tr', function () {
            $(this).find('.show').addClass("hide");
            $(this).find('.hide').removeClass("show");
      });
    
      $('.table tbody').on('mouseover', '.actionBtnList', function(){
        var ac = $(this).data('action');
        $(this).find('img').attr('src', 'img/ui/'+ac+'.png')
      })
    
      $('.table tbody').on('mouseout', '.actionBtnList', function(){
        var ac = $(this).data('action');
        $(this).find('img').attr('src', 'img/ui/'+ac+'_inactive.png')
      })
    
      $('.table tbody').on('click', '.actionBtnList', function(){
    
              var action = $(this).data('action');
              var id = $(this).data('id');
              var type = $(this).data('type');
              var openedObjed = '';
              if (action == 'delete') {
                      // dialog.confirm({
                      //         title: "Предупреждение",
                      //         message: "Вы уверены, что хотите удалить документ?",
                      //         cancel: "Нет",
                      //         button: "Да",
                      //         required: true,
                      //         callback: function(value){
                      //           if (value == true) {
                      //             $.ajax({
                      //               "url": "http://"+ip+"/WebService/"+action+"/Chancellery|"+type+"/?id="+id,
                      //               cache: false,
                      //               beforeSend: function(xhr){
                      //                   xhr.setRequestHeader("content-type", "application/json");
                      //                   xhr.setRequestHeader("Token",  token);
                      //               },
                      //               success: function(data){
                      //                   if (data.Result == 'OK') {
    
                      //                   $.notify(data.Message, {type:"success"});
    
                      //                     setTimeout(function(){
    
                      //                      $.ajax({
                      //                               url: "views/0104010.html",
                      //                               cache: false,
                      //                               success:function(data) {
    
                      //                                 $('.forcontent').html(data);
    
                      //                               }
    
                      //                             })
    
                      //                               }, 4000);
    
                      //                             } else {
    
                      //                               $.notify("<b>Ошибка удаления данных:</b><br/> "+data.Message, {type:"danger"});
    
                      //                             }
                      //               }
                      //             })
                      //           }
                      //         }
                      //       })
                        } else {
                          
                      $.ajax({
                          "url": "http://"+ip+"/EAkimat/"+service+"/"+action+"/"+type+"/?id="+id,
                          cache: false,
                          beforeSend: function(xhr){
                              xhr.setRequestHeader("content-type", "application/json");
                              xhr.setRequestHeader("Token",  token);
                          },
                          success: function(data){
    
                            if (action == 'delete') {
    
                              if (data.Result == 'OK') {
    
                                $.notify(data.Message, {type:"success"});
    
                                  setTimeout(function(){
    
                                   $.ajax({
                                            url: "views/0104010.html",
                                            cache: false,
                                            success:function(data) {
    
                                              $('.forcontent').html(data);
    
                                            }
    
                                          })
    
                                            }, 4000);
    
                                          } else {
    
                                            $.notify("<b>Ошибка удаления данных:</b><br/> "+data.Message, {type:"danger"});
    
                                          }
    
                            } else if (action == 'open') {
    
    
                              if (data.Result == 'OK') {
                                  $('.forcontent').html('');
                                  openedObjed = data;
    
                                  View(data, '');
                                } else {
    
                                  $.notify("<b>Ошибка удаления данных:</b><br/> "+data.Message, {type:"danger"});
    
                                }
    
                            }
      
    
                          }
                })
                    }
    
    
      })
    });
    
    
     
     </script>