<script src="../js/ncalayer.js"></script>
<script src="../js/process-ncalayer-calls.js"></script>
<input type="hidden" id="signedXml">
<input type="hidden" id="Types">
<div class="breadcrumbs"></div>
<div class="ribbon"></div>
<div class="contentCard">
    <div class="contentCardInner">
        <form id="object">
          <input type="hidden" id="id">
          <div class="col-xs-12 col-sm-12 col-lg-4 col-md-4">
              <label class="required">Код</label>
              <input type="text" class="text-field w100" name="" id="ServiceCode" readonly>
          </div>
          <div class="col-xs-12 col-sm-12 col-lg-4 col-md-4">
            <label class="required">Регистрационный номер</label>
            <input type="text" class="text-field w100" name="RegNumber" id="RegNumber" readonly>
          </div>
          <div class="col-xs-12 col-sm-12 col-lg-4 col-md-4">
            <label class="required">Дата поступления</label>
            <input type="text" class="text-field w100" name="RegDate" id="RegDate" readonly>
          </div>
          <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
              <label class="required">Наименование</label>
              <textarea class="text-field w100" rows="3" id="ServiceName" readonly></textarea>
          </div>
          <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
            <label class="required">Форма предоставления результатов оказания услуги</label>
            <input type="text" class="text-field w100" name="RegDate" id="ServiceResultForm" readonly>
        </div>
          <!--
          <div class="col-xs-12 col-sm-12 col-lg-6 col-md-6">
              <label class="required">Срок</label>
              <input type="text" class="text-field w100" name="" id="" readonly>
          </div>
          <div class="col-xs-12 col-sm-12 col-lg-6 col-md-6">
              <label class="required">МИО</label>
              <input type="text" class="text-field w100" name="Enterprise" id="Enterprise" readonly>
          </div>
          <div class="col-xs-12 col-sm-12 col-lg-6 col-md-6">
              <label class="required">Исполнитель</label>
              <input type="text" class="text-field w100" name="Executer" id="Executer" readonly>
          </div>
          <div class="col-xs-12 col-sm-12 col-lg-6 col-md-6">
              <label class="required">Статус</label>
              <input type="text" class="text-field w100" name="StatementStatus" id="StatementStatus" readonly>
          </div>-->
          <ul class="nav nav-tabs cust-tabs" role="tablist" id="tabs">
            <li role="presentation" class="active">
              <a aria-expanded="true" href="#tab0" aria-controls="tab0" role="tab" data-toggle="tab">Информация о заявке</a>
            </li>
          <li role="presentation" class="">
            <a aria-expanded="true" href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">Заявитель</a>
          </li>
          <!-- <li role="presentation">
            <a aria-expanded="true" href="#attachments" aria-controls="attachments" role="tab" data-toggle="tab">Вложения</a>
          </li>
          <li role="presentation">
            <a aria-expanded="true" href="#ecp" aria-controls="ecp" role="tab" data-toggle="tab">ЭЦП</a>
          </li>
          <li role="presentation">
            <a aria-expanded="true" href="#history" aria-controls="history" role="tab" data-toggle="tab">История</a>
          </li> -->
        </ul>
        <div class="tab-content" style="display: flex;">
          <div id="tab0" class="tab-pane active" role="tabpanel"> 
           
            <div class="row" style="display: flex;">
              <div class="col-md-9" style="padding-right: 0;display: flex;flex-direction: column;">
                <div class="section row">
                  <div class="secttitle col-xs-12">Услугодатель</div>
                  <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
                    <div class="row">
                      <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
                        <label class="required">Наименование</label>
                        <input type="text" class="text-field w100" name="UniqueNumber" id="EnterpriseName" readonly>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
                        <label class="required">Руководитель</label>
                        <input type="text" class="text-field w100" name="UniqueNumber" id="Head" readonly>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="section row">
                  <div class="secttitle col-xs-12">Исполнители</div>
                  <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
                    <div class="row">
                      <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
                        <label class="required">Ответственный исполнитель</label>
                        <input type="text" class="text-field w100" name="UniqueNumber" id="ExecuterName" readonly>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3" style="padding-left: 0;display: flex;">
                <div class="section row" style="width: 100%;">
                  <div class="">
                    <div class="secttitle col-xs-12">Статус заявки</div>
                    <div style="padding: 0 15px;">
                      <label class="required">Статус</label>
                      <input type="text" class="text-field w100" name="UniqueNumber" id="StatementStatusText" readonly>
                    </div>
                    <div style="padding: 0 15px;">
                      <label class="required">Результат</label>
                      <input type="text" class="text-field w100" name="UniqueNumber" id="OuterDocumentKind" readonly>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div id="tab1" class="tab-pane " role="tabpanel"> 
            <div class="section row">

              <div class="secttitle col-xs-12">Личные данные заявителя</div>
              <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
                <div class="row">
                  <div class="col-xs-12 col-sm-12 col-lg-4 col-md-4">
                    <label class="required">ИИН</label>
                    <input type="text" class="text-field w100" name="UniqueNumber" id="UniqueNumber" readonly>
                  </div>
                </div>
              </div> 
              <div class="col-xs-12 col-sm-12 col-lg-4 col-md-4 fiz-data">
                <label class="required">Фамилия</label>
                <input type="text" class="text-field w100" name="Surname" id="Surname" readonly>
              </div>
              <div class="col-xs-12 col-sm-12 col-lg-4 col-md-4">
                <label class="required fiz-data">Имя</label>
                <label class="required ur-data">Наименование юридического лица</label>
                <input type="text" class="text-field w100" name="Name" id="Name" readonly>
              </div> 
              <div class="col-xs-12 col-sm-12 col-lg-4 col-md-4 fiz-data">
                <label class="required">Отчество</label>
                <input type="text" class="text-field w100" name="Patronymic" id="Patronymic" readonly>
              </div> 
              
              <!--Поля для Юр лиц--> 
              <div class="col-xs-12 col-sm-12 col-lg-6 col-md-6 ur-data">
                <label class="required">Руководитель</label>
                <input type="text" class="text-field w100" name="Chief" id="Chief" readonly>
              </div>
              <div class="col-xs-12 col-sm-12 col-lg-6 col-md-6 ur-data">
                <label class="required">Год создания</label>
                <input type="text" class="text-field w100" name="CreateYear" id="CreateYear" readonly>
              </div>
              <div class="col-xs-12 col-sm-12 col-lg-6 col-md-6 ur-data">
                <label class="required">Вид деятельности</label>
                <input type="text" class="text-field w100" name="ActivityCategory" id="ActivityCategory" readonly>
              </div>
              <div class="col-xs-12 col-sm-12 col-lg-6 col-md-6 ur-data">
                <label class="required">Форма собственности</label>
                <input type="text" class="text-field w100" name="OwnershipForm" id="OwnershipForm" readonly>
              </div>
              <div class="col-xs-12 col-sm-12 col-lg-6 col-md-6 ur-data">
                <label class="required">Филиалы и представительства</label>
                <input type="text" class="text-field w100" name="Affiliates" id="Affiliates" readonly>
              </div>
            </div>

            <div class="section row">
              <div class="secttitle col-xs-12">Документ удостоверяющий личность</div>
              <div class="col-xs-12 col-sm-12 col-lg-6 col-md-6">
                <label class="required">Номер</label>
                <input type="text" class="text-field w100" name="IdentityNumber" id="IdentityNumber" readonly>
              </div> 
              <div class="col-xs-12 col-sm-12 col-lg-6 col-md-6">
                <label class="required">Дата выдачи</label>
                <input type="text" class="text-field w100" name="IdentityDate" id="IdentityDate" readonly>
              </div>
            </div>   
            
            <div class="section row">
                <div class="secttitle col-xs-12">Контактные данные</div>
                <div class="col-xs-12 col-sm-12 col-lg-6 col-md-6">
                  <label class="required">Адрес</label>
                  <input type="text" class="text-field w100" name="Address" id="Address" readonly>
                </div> 
                <div class="col-xs-12 col-sm-12 col-lg-6 col-md-6">
                  <label class="required">Телефон</label>
                  <input type="text" class="text-field w100" name="Phone" id="Phone" readonly>
                </div> 
                <div class="col-xs-12 col-sm-12 col-lg-6 col-md-6">
                  <label class="required">Электронная почта</label>
                  <input type="text" class="text-field w100" name="Email" id="Email" readonly>
                </div>  
            </div>

          </div>
          <!-- <div id="Attachments" class="tab-pane" role="tabpanel">  -->
            <!-- <div class="section row">
              <ul class="list-group custom-list">
                <li class="list-group-item">New <button type="button" class="btn btn-info btn-sm">Показать</button><div class="clearfix"></div></li>
                <li class="list-group-item">Deleted <button type="button" class="btn btn-info btn-sm">Показать</button><div class="clearfix"></div></li>
                <li class="list-group-item">Warnings <button type="button" class="btn btn-info btn-sm">Показать</button><div class="clearfix"></div></li>
              </ul>
            </div>  -->
          <!-- </div> -->
          <!-- <div id="ecp" class="tab-pane" role="tabpanel"> 
            <div class="section row">
              <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12"><label class="required">ЭЦП</label></div>
            </div>
          </div> -->
          <!-- <div id="history" class="tab-pane" role="tabpanel"> 
            <div class="section row">
                <table class="table table-hover display dataTable no-footer dtr-inline" width="100%" style="border-collapse: collapse !important; margin-bottom: 0px !important; width: 100%;" id="DataTables_Table_2" role="grid" aria-describedby="DataTables_Table_2_info">
                  <thead>
                    <tr role="row">
                      <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" style="width: 245px;" aria-sort="ascending" aria-label="Номер: активировать для сортировки столбцов по убыванию">Дата/Время</th>
                      <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" style="width: 245px;" aria-sort="ascending" aria-label="Номер: активировать для сортировки столбцов по убыванию">Сотрудник</th>
                      <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" style="width: 245px;" aria-sort="ascending" aria-label="Номер: активировать для сортировки столбцов по убыванию">Действие</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr role="row" class="odd">
                      <td class="sorting_1" tabindex="0">10100000000003</td>
                      <td class="sorting_1" tabindex="0">10100000000003</td>
                      <td class="sorting_1" tabindex="0">10100000000003</td>
                    </tr>
                  </tbody>
                </table>
            </div>
          </div> -->
        </div>
      </form>
    </div>
</div>