<div id="HistoryItems" class="tab-pane" role="tabpanel"> 
    <div class="section row">
        <table class="table table-hover display dataTable no-footer dtr-inline" width="100%" style="border-collapse: collapse !important; margin-bottom: 0px !important; width: 100%;" id="DataTables_Table_2" role="grid" aria-describedby="DataTables_Table_2_info">
            <thead>
              <tr role="row">
                <th class="sorting_asc" tabindex="0" style="width: 30%;" aria-controls="DataTables_Table_2"  aria-sort="ascending" aria-label="Номер: активировать для сортировки столбцов по убыванию">Дата</th>
                <th class="sorting_asc" tabindex="0" style="width: 30%;" aria-controls="DataTables_Table_2"  aria-sort="ascending" aria-label="Номер: активировать для сортировки столбцов по убыванию">Событие</th>
                <th class="sorting_asc" tabindex="0" style="width: 30%;" aria-controls="DataTables_Table_2"  aria-sort="ascending" aria-label="Номер: активировать для сортировки столбцов по убыванию">Сотрудник</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
    </div> 
  </div>
