<div id="Attachments" class="tab-pane" role="tabpanel"> 
    <div class="section row">
        <table class="table table-hover display dataTable no-footer dtr-inline" width="100%" style="border-collapse: collapse !important; margin-bottom: 0px !important; width: 100%;" id="DataTables_Table_2" role="grid" aria-describedby="DataTables_Table_2_info">
            <thead>
              <tr role="row">
                <th class="sorting_asc" tabindex="0" style="width: 30%;" aria-controls="DataTables_Table_2"  aria-sort="ascending" aria-label="Номер: активировать для сортировки столбцов по убыванию">Описание</th>
                <th class="sorting_asc" tabindex="0" style="width: 30%;" aria-controls="DataTables_Table_2"  aria-sort="ascending" aria-label="Номер: активировать для сортировки столбцов по убыванию">Имя файла</th>
                <th class="sorting_asc" tabindex="0" style="width: 30%;" aria-controls="DataTables_Table_2"  aria-sort="ascending" aria-label="Номер: активировать для сортировки столбцов по убыванию">Размер</th>
                <th></th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
    </div> 
  </div>
  <script>
  $(function(){

    $('body').on('click', '.action-cell a', function(){
      console.log($(this))
    })

    $('.table').on('mouseover', 'tr', function(){
      $(this).find('div.hide').removeClass('hide');
    })

    $('.table').on('mouseout', 'tr', function(){
      $(this).find('div').addClass('hide');
    })

    $('.action-cell').on('mouseover', 'a', function(){
    var ac = $(this).data('action');
    if (ac == 'download') {
      ac = 'save';
    }
      $(this).find('img').attr('src', 'img/ui/'+ac+'.png')
    })
  
    $('.action-cell').on('mouseout', 'a', function(){
    var ac = $(this).data('action');
    if (ac == 'download') {
      ac = 'save';
    }
      $(this).find('img').attr('src', 'img/ui/'+ac+'_inactive.png')
    })
  })
  </script>