<style type="text/css">
  #report2:hover,
  #report1:hover {
    cursor: pointer;
  }

  .forcontent {
    margin: 0;
  }
</style>
<!-- <script src="http://rawgit.com/notifyjs/notifyjs/master/dist/notify.js"></script> -->
<script>
  $(function () {
    var token = $.session.get('token');
    $.ajax({
        "url": "http://" + ip + "/EAkimat/services",
        async: false,
        cache: false,
        beforeSend: function (xhr) {
          xhr.setRequestHeader("content-type", "application/json");
          xhr.setRequestHeader("Token", token);
        },
        success: function (data) {

          var str = '<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">';
            var open;
            var open_folder;
          data.forEach(function(v, i){
            var str2 = "";
            if (i == 0) {
              $.ajax({
              "url": "http://" + ip + "/EAkimat/"+v[0]+"/Status.Count",
              async: false,
              cache: false,
              beforeSend: function (xhr) {
                xhr.setRequestHeader("content-type", "application/json");
                xhr.setRequestHeader("Token", token);
              },
              success: function (data2) {
                data2.forEach(function(k, val){
                  str2 += '<a class="ribbonBtn2" data-action="0801010" data-service="'+v[0]+'" data-state="'+k[0]+'" data-count="'+k[2]+'" data-type="Statement.Counter">'+k[1]+' ('+k[2]+')</a>';
                })

              }
            })
          }

          open = '';
          open_folder = '';
          if (i == 0) {
            open = "in";
            open_folder = 'open-folder';
          }

            str += '<div class="panel panel-default '+open_folder+'" data-service="'+v[0]+'">'+
                        '<div class="panel-heading" role="tab" id="heading'+i+'">'+
                          '<h4 class="panel-title">'+
                             '<span role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse'+i+'" aria-expanded="false" aria-controls="collapse'+i+'">'+
                              v[0]+' / '+ v[1] +
                            '</span>'+
                          '</h4>'+
                        '</div>'+
                        '<div id="collapse'+i+'" class="panel-collapse collapse '+open+'" role="tabpanel" aria-labelledby="heading'+i+'">'+
                          '<div class="panel-body acc-content">'+
                            str2+
                          '</div>'+
                        '</div>'+
                    '</div>';
          })

          str += '</div>';
          $('.item5').html(str);

          

        }
      })
      var loaded_items = ['00803007'];

      $('#accordion').on('shown.bs.collapse', function () {
        var acc_content = $(this).find('.in > .acc-content');
        var data_service = $(this).find('.in').parent().data('service');
        if (!loaded_items.includes(data_service)) {
          $.ajax({
              "url": "http://" + ip + "/EAkimat/"+data_service+"/Status.Count",
              async: false,
              cache: false,
              beforeSend: function (xhr) {
                xhr.setRequestHeader("content-type", "application/json");
                xhr.setRequestHeader("Token", token);
              },
              success: function (data2) {
                loaded_items.push(data_service);
                var str = '';
                data2.forEach(function(k, val){
                  str += '<a class="ribbonBtn2" data-action="0801010" data-service="'+data_service+'" data-state="'+k[0]+'" data-count="'+k[2]+'" data-type="Statement.Counter">'+k[1]+' ('+k[2]+')</a>';
                })

                acc_content.html(str);

              }
            })
        }
        
        $('#accordion .panel').removeClass('open-folder');
        $(this).find('.in').parent().addClass('open-folder');
      })

    genBreads([{
      action: "Index",
      title: "Главная"
    }])
    $('#report2').on('click', function () {
      dialog.confirm({
        title: "Предупреждение",
        message: "Только зарегестрированные документы?",
        cancel: "Нет",
        button: "Да",
        required: true,
        callback: function (value) {
          if (value == true) {
            window.location = "http://" + ip +
              "/WebService/Report/Chancellery.ContractorWorkingInfo?param=" + value;
          } else {
            window.location = "http://" + ip +
              "/WebService/Report/Chancellery.ContractorWorkingInfo?param=" + value;
          }
        }
      })
    })

    function rep(type, text) {
      $('.modal').remove();
      $('body').append('<div class="modal" id="report1-m" tabindex="-1" role="dialog">' +
        '<div class="modal-dialog" role="document">' +
        '<div class="modal-content">' +
        '<div class="modal-header">' +
        '<div class="title">Формирование отчета</div>' +
        '<button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times-rectangle"></i></button>' +
        '</div>' +
        '<div class="modal-body onlyPeriodForm">' +
        '<div class="col-xs-12">' +
        '<label class="required">Отчет</label>' +
        '<div id="">' + text + '</div>' +
        '</div>' +
        '<div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">' +
        '<label class="required">Период</label></div>' +
        '<div class="col-xs-12 col-sm-12 col-lg-6 col-md-6"><label class="required hide-elem">Начало периода</label><input id="From"  name="From" class="text-field w100" type="date" required></div>' +
        '<div class="col-xs-12 col-sm-12 col-lg-6 col-md-6"><label class="required hide-elem">Конец периода</label><input id="To" name="To" class="text-field w100" type="date" required></div>' +
        '<div class="clearfix"></div></div>' +
        '<div class="formsep" style="clear:both;"></div>' +
        '<div class="modal-footer">' +
        '<div class="buttons"><a class="save save-report1">ОТПРАВИТЬ</a><a class="cancel" data-dismiss="modal">Отмена</a></div>' +
        '</div>' +
        '</div>' +
        '</div>' +
        '</div>')
      $('#report1-m').modal('show')
      $(document).off('click', '.save-report1').on('click', '.save-report1', function () {
        if (validate('.onlyPeriodForm') == 0) {
          data = {
            From: '/Date(' + Date.parse($('#From').val()) + ')/',
            To: '/Date(' + Date.parse($('#To').val()) + ')/'
          }
          window.location = 'http://' + ip + '/WebService/Report/' + type + '?param=' + JSON.stringify(data);
          $('#report1-m').modal('hide');
          $('.modal').remove();
        }
      })
    }

    $('#report1').on('click', function () {
      rep('Chancellery.C2.UnregRejectedDocs', $(this).children('span').text());
    })

  })

  /*counters*/
  // var token = $.session.get("token");
  // $.ajax({
  //   "url": "http://"+ip+"/WebService/Chancellery.Main.Counter",
  //   xhrFields: {
  //     withCredentials: false
  //   },
  //   beforeSend: function(xhr){
  //       xhr.setRequestHeader("content-type", "application/json");
  //       xhr.setRequestHeader("Token",  token);
  //   },
  //   success: function(data){
  //       $('.item1 .itemcount').text(data[0]);
  //       $('.item2 .itemcount').text(data[2]);
  //       $('.item3 .itemcount').text(data[1]);
  //       $('.item4 .itemcount').text(data[3]);
  //   }
  // })
</script>
<div class="breadcrumbs del-margin-bread">
  <!-- <ul>
    <li class="back"><a class="back"><i class="fa fa-long-arrow-left"></i></a></li> -->
  <!--<li class="home"><a href="/"><i class="fa fa-home"></i></a></li>-->
  <!-- <li class="modules active">
      <table width="100%">
        <tr>
          <td align="left" valign="middle">Канцелярия</td>
          <td align="right" valign="middle"><span class="showtopnav  hidden-lg hidden-md"><i class="fa fa-angle-down"></i></span></td>
        </tr>
      </table>
    </li>
  </ul> -->
</div>

<div class="section-main" style="background-repeat: no-repeat; background-position: right top;background-color: #f0f0f0;">
 
  <div class="clearfix"></div>

  <div class="main_widgets">
    <a class="widget pink item1 ribbonBtn" data-action="0104010"
      data-type="Avrora.Objects.Modules.Docflow.DocflowObjects.IncomingDocument">
      <div class="title">Просрочено</div>
      <div class="number itemcount">0</div>
      <div class="discription">Количество заявлений с нарушением установленных сроков оказания</div>
    </a>
    <a class="widget orange item2 ribbonBtn" data-action="0104010"
      data-type="Avrora.Objects.Modules.Docflow.DocflowObjects.OutgoingDocument">
      <div class="title">Срок истекает сегодня</div>
      <div class="number itemcount">0</div>
      <div class="discription">Количество заявлений, имеющих высокий риск нарушения установленных сроков оказания</div>
    </a>
    <a class="widget green item3 ribbonBtn" data-action="0104010"
      data-type="Avrora.Objects.Modules.Docflow.DocflowObjects.InnerDocument">
      <div class="title">Срок истекает завтра</div>
      <div class="number itemcount">0</div>
      <div class="discription">Количество заявлений, установленные сроки оказания которых истекают завтра</div>
    </a>
    <a class="widget sea item4 ribbonBtn" data-action="010101" data-type="">
      <div class="title">Срок истекает через 3 дня</div>
      <div class="number itemcount">0</div>
      <div class="discription">Количество заявлений, установленные сроки оказания которых истекают через 3 дня</div>
    </a>
    <a class="blue item5 ibig" data-action="0104010" data-type="Avrora.Objects.Modules.Docflow.DocflowObjects.IncomingDocument"></a>
  </div>
  <!--
<div class="">
  <div class="container-tabs col-lg-3 col-md-6 col-sm-6 col-xs-12 ">
    <div class="inner-tabs bgc-2">
      <h4>Orders Received</h4>
      <p><span class="fa fa-envelope-o"></span>256</p>
      <ul>
        <li><a class="ribbonBtn brd" data-title="журналы регистрации" data-action="0102010">Журналы регистрации</a></li> 
      </ul>
      <!-- <ul>
        <li> <a class="ribbonBtn brd" data-title="Юридическое лицо" data-action="New" data-type="Chancellery.ContractorEnterprise">Добавить юридическое лицо</a></li>
        <li> <a class="ribbonBtn brd"  data-title="Физическое лицо" data-action="New" data-type="Chancellery.ContractorPerson">Добавить физическое лицо</a> </li>
        <li> <a class="ribbonBtn brd" data-title="Заявитель" data-action="New" data-type="Chancellery.Declarant">Добавить заявителя</a> </li>
      </ul> -->
  <!--<a id="report1" data-type="" style="color: #fff;">1. <span>Сведения по отклоненным документам</span></a>
    </div>
  </div>
  <div class="container-tabs col-lg-3 col-md-6 col-sm-6 col-xs-12 ">
    <div class="inner-tabs bgc-2">
      <h4>Total Scales</h4>
      <p><span class="fa fa-envelope-o"></span>148</p>
      <!-- <ul>
          <li> <a class="ribbonBtn brd" data-title="Юридическое лицо" data-action="New" data-type="Chancellery.ContractorEnterprise">Добавить юридическое лицо</a></li>
          <li> <a class="ribbonBtn brd"  data-title="Физическое лицо" data-action="New" data-type="Chancellery.ContractorPerson">Добавить физическое лицо</a> </li>
          <li> <a class="ribbonBtn brd" data-title="Заявитель" data-action="New" data-type="Chancellery.Declarant">Добавить заявителя</a> </li>
        </ul> -->
  <!--<p class="itemtext">Регистрация входящей, исходящей и внутренней корреспонденции.</p>
      <p>This Month</p>
    </div>
  </div>
  <div class="container-tabs col-lg-3 col-md-6 col-sm-6 col-xs-12 ">
    <div class="inner-tabs bgc-3">
      <h4>Orders Received</h4>
      <p><span class="fa fa-envelope-o"></span>256</p>
      <!-- <ul>
          <li> <a class="ribbonBtn brd" data-title="Входящий документ" data-action="New" data-type="Chancellery.IncomingDocument">Зарегистрировать входящий документ</a></li>
        </ul> -->
  <!-- <p class="itemtext">Регистрация входящей, исходящей и внутренней корреспонденции.</p>
      <p>Completed Orders</p>
    </div>
  </div>
  <div class="container-tabs col-lg-3 col-md-6 col-sm-6 col-xs-12 ">
    <div class="inner-tabs bgc-4">
      <h4>Orders Received</h4>
      <p><span class="fa fa-envelope-o"></span>256</p>
      <p class="itemtext">Регистрация входящей, исходящей и внутренней корреспонденции.</p>
      <p>Completed Orders</p>
    </div>
  </div>
  <div class="container-tabs col-lg-3 col-md-6 col-sm-6 col-xs-12 ">
    <div class="inner-tabs bgc-5">
      <h4>Orders Received</h4>
      <p><span class="fa fa-envelope-o"></span>256</p>
      <p class="itemtext">Регистрация входящей, исходящей и внутренней корреспонденции.</p>
      <p>Completed Orders</p>
    </div>
  </div>
  <div class="container-tabs col-lg-3 col-md-6 col-sm-6 col-xs-12 ">
    <div class="inner-tabs bgc-6">
      <h4>Orders Received</h4>
      <p><span class="fa fa-envelope-o"></span>256</p>
      <p class="itemtext">Регистрация входящей, исходящей и внутренней корреспонденции.</p>
      <p>Completed Orders</p>
    </div>
  </div>
  <div class="container-tabs col-lg-3 col-md-6 col-sm-6 col-xs-12 ">
    <div class="inner-tabs bgc-7">
      <h4>Orders Received</h4>
      <p><span class="fa fa-envelope-o"></span>256</p>
      <p class="itemtext">Регистрация входящей, исходящей и внутренней корреспонденции.</p>
      <p>Completed Orders</p>
    </div>
  </div>
  <div class="container-tabs col-lg-3 col-md-6 col-sm-6 col-xs-12 ">
    <div class="inner-tabs bgc-8">
      <h4>Orders Received</h4>
      <p><span class="fa fa-envelope-o"></span>256</p>
      <p class="itemtext">Регистрация входящей, исходящей и внутренней корреспонденции.</p>
      <p>Completed Orders</p>
    </div>
  </div>
</div>-->

  <script type="text/javascript">
    $(document).ready(function () {


      


      $("#cancel").click(function () {
        $.each($(".valid_form input , textarea"), function (i, feild) {
          $(feild).removeClass("invalid");
          $(feild).removeClass("valid");
          // $(".error-box").html("");
          $(".error-box").css("opacity", "0");
        });
      });
      $("input").keyup(function () {
        $.each($(".valid_form input , textarea"), function (i, feild) {
          console.log($(feild).val());
          if ($(feild).val() == "") {
            $(feild).addClass("invalid");
            $(feild).removeClass("valid");
            // $(".error-box").css("background-color"," #ff0000");
            // $(".error-box").css("opacity","1");
            // $(".error-box").html("пустое поле");
          } else {
            // $(".error-box").html("");
            // $(feild).addClass ("valid");
            // $(feild).removeClass("invalid");
            switch (feild.id) {
              case "fname":
                var regex_name = new RegExp(/[A-Za-zА-Яа-я]/);
                if (regex_name.test($(feild).val()) == false) {
                  $(feild).addClass("invalid");
                  $(feild).removeClass("valid");
                } else {
                  $(feild).addClass("valid");
                  $(feild).removeClass("invalid");

                }
                break;
              case "fmail":
                var regex_mail = new RegExp(/^([a-zA-Z0-9_.-])+@([a-zA-Z0-9_.-])+\.([a-zA-Z])+([a-zA-Z])+/);
                if (regex_mail.test($(feild).val()) == false) {
                  $(feild).addClass("invalid");
                  $(feild).removeClass("valid");
                } else {
                  $(feild).addClass("valid");
                  $(feild).removeClass("invalid");

                }
                break;
              case "fcmail":
                if ($(feild).val() == $("#fmail").val()) {
                  $(feild).addClass("valid");
                  $(feild).removeClass("invalid");
                } else {
                  $(feild).addClass("invalid");
                  $(feild).removeClass("valid");

                }
                break;
              case "fpass":
                var regex_pass = new RegExp(/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$/);
                if (regex_pass.test($(feild).val()) == false) {
                  $(feild).addClass("invalid");
                  $(feild).removeClass("valid");
                } else {
                  $(feild).addClass("valid");
                  $(feild).removeClass("invalid");

                }
                break;
              case "fcpass":
                if ($(feild).val() == $("#fpass").val()) {
                  $(feild).addClass("valid");
                  $(feild).removeClass("invalid");
                } else {
                  $(feild).addClass("invalid");
                  $(feild).removeClass("valid");

                }
                break;
              case "furl":
                var regex_url = new RegExp(
                  /^([a-zA-Z0-9]([a-zA-Z0-9\-]{0,61}[a-zA-Z0-9])?\.)+[a-zA-Z]{2,6}$/);
                if (regex_url.test($(feild).val()) == false) {
                  $(feild).addClass("invalid");
                  $(feild).removeClass("valid")
                } else {
                  $(feild).addClass("valid");
                  $(feild).removeClass("invalid");

                }
                break;
              case "fmemo":
                var regex_memo = new RegExp(/^[а-яА-ЯёЁa-zA-Z0-9\s\W^]+$/);
                if (regex_memo.test($(feild).val()) == false) {
                  $(feild).addClass("invalid");
                  $(feild).removeClass("valid");
                } else {
                  $(feild).addClass("valid");
                  $(feild).removeClass("invalid");

                }
                break;
            }
          }
        });
      });
    });
  </script>



  <!--end content-->
</div>
<script>
  /*var token = $.session.get("token");
    $.ajax({
            "url": "http://"+ip+"/WebService/Chancellery.Document.Counter",
            xhrFields: {
              withCredentials: false
           },
            beforeSend: function(xhr){
                xhr.setRequestHeader("content-type", "application/json");
                xhr.setRequestHeader("Token",  token);
            },
            success: function(data){
                $(' .item1 .itemcount a').text(data);
            }
  })*/
  $('body').on('click', '.ribbonBtn2', function () {

    var service = $(this).data('service');
    var type = $(this).data('type');
    var count = $(this).data('count');
    var state = $(this).data('state');

    if (count != 0) {
      $.ajax({
        url: "views/0801010.html",
        cache: false,
        async: false,
        success: function (data) {
          $('.forcontent').html('<input type="hidden" value="' + type + '" id="docTypeMainPage">' + data);
          $('#service').val(service);
          $('#state').val(state);
        }

      })
    }

  })
</script>