<p style="text-align: center;font-weight: bold;margin-bottom: 20px;">Текст уведомления</p>
<p style="margin-bottom: 20px;line-height: 200%;">
    Учебный год<br>
    <input type="text" id="AcademicYear" class="form-text-field w50" placeholder=""><br>
    Наименование организации образования<br>
    <input style="width: 90%;" class="form-text-field" id="ServiceProvisionEnterprise_ru" type="text" placeholder="">
</p>
<div style="clear: both;"></div>
