<p style="text-align: center;font-weight: bold;margin-bottom: 20px;">Текст уведомления</p>
<p style="margin-bottom: 20px;line-height: 200%;">
    <b>Приказ о зачислении</b> <br>
    Номер: <input type="text" id="OrderNumber" class="form-text-field w50" placeholder=""> <br> 
    Дата: <input  class="form-text-field w50" id="OrderDate" type="date" placeholder=""><br>
    Номер класса: <input style="width: 80%;" id="ClassNumber" class="form-text-field w50" type="text" placeholder=""> <br>
    Вам необходимо явиться 
    <input type="text" id="ServiceTerm_ru" class="form-text-field w50" placeholder="Дата или период, время посещения"> <br>в
    <input style="width: 90%;" class="form-text-field" id="ServiceProvisionEnterprise_ru" type="text" placeholder="наименование организации">,<br>по адресу 
    <input style="width: 80%;" id="ServiceLocation_ru" class="form-text-field w50" type="text" placeholder="адрес организации"> <br>
    для предоставления оригиналов документов:
    <ol>
        <li>Документ удостоверяющий личность заявителя;</li>
        <li>Свидетельство о рождении ребенка;</li>
        <li>Справки о состоянии здоровья № 063/у и № 026/у-3;</li>
        <li>Фотографии ребенка размером 3х4 сантиметров в количестве 2 штук;</li>
        <li>Заключение педагого-медико-психологической комиссии (при наличии).</li>
    </ol>
</p>
<div style="clear: both;"></div>
