<p style="text-align: center;font-weight: bold;margin-bottom: 20px;">Текст уведомления</p>
<p style="margin-bottom: 20px;line-height: 200%;">
    Учебный год
    <input type="text" id="AcademicYear" class="form-text-field w50" placeholder="">
    
</p>
<div style="clear: both;"></div>
