    <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
        <label class="required">Текст выписки из приказа на русском</label>
        <textarea class="text-field w100" rows="5" name="StudentSurname" id="answer_ru"></textarea>
    </div>
    <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
        <label class="required">Текст выписки из приказа на казахском</label>
        <textarea class="text-field w100" rows="5" name="StudentSurname" id="answer_kz"></textarea>
    </div>
    <div style="clear: both;"></div>
    