<p style="text-align: center;font-weight: bold;margin-bottom: 20px;">Текст уведомления</p>
<p style="margin-bottom: 20px;line-height: 200%;">
    № дела: <input type="text" id="ActNumber" class="form-text-field w50" placeholder=""> <br> 
    <b style="margin-top: 20px;display: block;">Свидетельство о рождении ребенка</b> 
    Номер: <input  class="form-text-field w50" id="BirthSertificateNumber" type="text" placeholder=""><br>
    Дата выдачи: <input id="BirthSertificateDate" class="form-text-field w50" type="date" placeholder=""> <br>
    Кем выдано: <input style="width: 80%;" id="BirthSertificateIssue" class="form-text-field w50" type="text" placeholder=""> <br>
    Дата рождения ребенка: <input id="RecipientBirthDate" class="form-text-field w50" type="date" placeholder=""> <br>
    <b style="margin-top: 20px;display: block;">Решение органа о назначении опекуном или попечителем</b> 
    Текст решения:<br> <textarea  class="form-text-field" id="DecisionText" type="text" placeholder="Текст решения"></textarea><br>
    Дата назначения: <input id="DateOfAppointment" class="form-text-field w50" type="date" placeholder=""> <br>
    Назначено пособие с <input id="FromDate" class="form-text-field w50" type="date"> по <input id="ToDate" class="form-text-field w50" type="date"><br>
    в сумме <input style="width: 80%;" id="Summa" class="form-text-field w50" type="text" placeholder="Размер пособия числом"><br>
    Отказано в назначении пособия по причине:
    <br> <textarea  class="form-text-field" id="RejectionReason" type="text" placeholder="Текст причины отказа"></textarea>
</p>
<div style="clear: both;"></div>
