<p style="text-align: center;font-weight: bold;margin-bottom: 20px;">Текст уведомления</p>
<p style="margin-bottom: 20px;line-height: 200%;">
    На основании указанного заявления и приложенных к нему документов, определен срок предоставления услуги 
    <input type="text" id="ServiceTerm_ru" class="form-text-field w50" placeholder="срок предоставления"></p>
<p style="line-height: 200%;">
    Для получения услуги Вам необходимо явиться<br>в 
    <input style="width: 90%;" class="form-text-field" id="ServiceProvisionEnterprise_ru" type="text" placeholder="наименование организации">,<br>по адресу 
    <input style="width: 80%;" id="ServiceLocation_ru" class="form-text-field w50" type="text" placeholder="адрес организации">.</p>
<div style="clear: both;"></div>
