<p style="text-align: center;font-weight: bold;margin-bottom: 20px;">Текст уведомления</p>
<p style="margin-bottom: 20px;line-height: 200%;">
    На основании указанного заявления и приложенных к нему документов, Вам необходимо явиться 
    <input type="text" id="ServiceTerm_ru" class="form-text-field w50" placeholder="Дата или период, время посещения"> <br>в
    <input style="width: 90%;" class="form-text-field" id="ServiceProvisionEnterprise_ru" type="text" placeholder="наименование организации">,<br>по адресу 
    <input style="width: 80%;" id="ServiceLocation_ru" class="form-text-field w50" type="text" placeholder="адрес организации"> для предоставления оригиналов документов:
    <ol>
        <li>Подлинник документа об образовании;</li>
        <li>4 фотографии размером 3x4 см;</li>
        <li>Медицинская справка формы 086-У с приложением флюроснимка (для инвалидов I и II группы и инвалидов с детства - заключение медико-социальной экспертизы);</li>
        <li>Сертификат единого национального тестирования или комплексного тестирования (при наличии);</li>
        <li>Документы, удостоверяющие личность.</li>
    </ol>
</p>
<div style="clear: both;"></div>
