<p style="text-align: center;font-weight: bold;margin-bottom: 20px;">Текст уведомления</p>
<p style="margin-bottom: 20px;line-height: 200%;">
    Вам необходимо явиться 
    <input type="text" id="ServiceTerm_ru" class="form-text-field w50" placeholder="Дата или период, время посещения"> <br>в
    <input style="width: 90%;" class="form-text-field" id="ServiceProvisionEnterprise_ru" type="text" placeholder="наименование организации">,<br>по адресу 
    <input style="width: 80%;" id="ServiceLocation_ru" class="form-text-field w50" type="text" placeholder="адрес организации"> <br>
    для предоставления и сверки оригиналов следующих документов:
    <ol>
        <li>Документ, удостоверяющий личность  (требуется для идентификации личности);</li>
        <li>Диплом об образовании;</li>
        <li>Документ о повышении квалификации;</li>
        <li>Документ, подтверждающий трудовую деятельность;</li>
        <li>Удостоверение о ранее присвоенной квалификационной категории (кроме педагогических работников, перешедших из организаций высшего образования и не имеющих квалификационных категорий);</li>
        <li>ведения о профессиональных достижениях (при их наличии)</li>
    </ol>
</p>
<div style="clear: both;"></div>
