<p style="text-align: center;font-weight: bold;margin-bottom: 20px;">Текст уведомления</p>
<p style="margin-bottom: 20px;line-height: 200%;">
    Вам необходимо явиться 
    <input type="text" id="ServiceTerm_ru" class="form-text-field w50" placeholder="Дата или период, время посещения"> <br>в
    <input style="width: 90%;" class="form-text-field" id="ServiceProvisionEnterprise_ru" type="text" placeholder="наименование организации">,<br>по адресу 
    <input style="width: 80%;" id="ServiceLocation_ru" class="form-text-field w50" type="text" placeholder="адрес организации"> <br>
    для предоставления и сверки оригиналов следующих документов:
    <ol>
        <li>Документ, удостоверяющий личность  (требуется для идентификации личности);</li>
        <li>Документ об образовании;</li>
        <li>Документ, подтверждающий трудовую деятельность;</li>
        <li>Личный листок по учету кадров с фото;</li>
        <li>Производственная характеристика с прежнего места работы с указанием имевшихся взысканий и поощрений;</li>
        <li>Документ об имеющейся квалификационной категории и ученой степени (при ее наличии);</li>
        <li>Документ о прохождении медицинского освидетельствования;</li>
        <li>Справка об отсутствии судимости;</li>
        <li>Перспективный План развития школы.</li>
    </ol>
</p>
<div style="clear: both;"></div>
