<p style="text-align: center;font-weight: bold;margin-bottom: 20px;">Текст уведомления</p>
<p style="margin-bottom: 20px;line-height: 200%;">
    <b style="margin-top: 20px;display: block;">Заявитель</b>
    Вид деятельности: <input type="text" id="KindOfActivity" class="form-text-field w50" placeholder=""> <br> 
    <b style="margin-top: 20px;display: block;">Заключение комиссии</b>
    Номер: <input  class="form-text-field w50" id="RegNumber" type="text" placeholder=""><br>
    Дата : <input id="RegDate" class="form-text-field w50" type="date" placeholder=""> <br>
    Город: <input id="City" class="form-text-field w50" type="text">
    <b style="margin-top: 20px;display: block;">Мемориальная доска</b> 
    Наименование: <input id="NameMemorial" class="form-text-field w50" type="text" placeholder=""> <br>
    Адрес: <input id="AddressMemorial" class="form-text-field w50" type="text">
    
</p>
<div style="clear: both;"></div>
