<table class="table tReject">
    <thead>
        <th>Русский</th>
        <th>Казахский</th>
        <th style="width: 66px;"></th>
    </thead>
    <tbody>
        <tr>
            <td><input type="text" class="text-field w100 reject-ru" ></td>
            <td><input type="text" class="text-field w100 reject-kz" ></td>
        </tr>
    </tbody>
</table>
<script>
    $(function(){
        $('.addRow').on('click', function(){
            $('.tReject tbody').append('<tr><td><input type="text" class="text-field w100 reject-ru" ></td><td><input type="text" class="text-field w100 reject-kz" ></td><td align="center"><img width="24" class="remRow" src="img/ui/delete.png"></td></tr>');
        })

        $('body').on('click', '.remRow', function(){
            $(this).parents('tr').remove();
        })
        
    })
</script>